/** pagination  */
.pagination {
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.pagination_list {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  position: relative;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_list li {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  background-color: #0e3461;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  color: #10c5b1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.pagination_list li:hover {
  background-color: #60cd90;
  color: #0e3461;
}

.pagination_list li.focus {
  background-color: #60cd90;
  color: #0e3461;
}

.maskLayer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popUpBox {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #024f3f;
  border: 2px solid #10c5b1;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.closeBtn {
  background-color: #10c5b1;
  border-radius: 2px;
  font-size: 28px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.popContent {
  text-align: center;
  color: #60cd90;
  margin-top: 80px;
  height: 200px;
}

.popUpBox .confirmBlk {
  display: flex;
  justify-content: space-evenly;
}

.popUpBox .confirmBtn {
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  border: 3px solid #10c5b1;
  padding: 10px 25px;
  color: #10c5b1;
  background-color: #0e3461;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

.js .slider-single > div:nth-child(1n+2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n+2) {
  display: block;
}

#page {
  /* border: 1px solid red; */
  width: 500px;
  margin: 0 50px 0 30px;
}

.slider-single {
  /* border: 1px solid red; */
  margin-left: 0px;
}

.slider-single div {
  /* border: 1px solid blue; */
  width: 100%;
  font-size: 0;
  padding: 0;
}

.slider-single img {
  width: 500px;
  height: 500px;
  margin: 0;
  font-size: 0;
}

.slider-nav img {
  width: 100%;
  padding: 0;
  /* border: 1px solid yellow ; */
}

.slider-nav {
  display: flex;
  margin-top: 30px;
  /* border: 1px solid yellow ; */
  justify-content: center;
  /* padding: 0; */
  width: 500px;
  /* font-size: 0; */
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../image/trade/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
}

.sec1 .flexContainer {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.sec1 .flexContainer .items.-left {
  flex-basis: 300px;
  flex-shrink: 0;
  font-size: 0;
  width: 100%;
}

.sec1 .flexContainer .items.-left .imgBlock {
  width: 300px;
  height: 300px;
}

.sec1 .flexContainer .items.-left .imgBlock img {
  width: 100%;
  height: 100%;
}

.sec1 .flexContainer .items.-right {
  flex-grow: 1;
  font-size: 20px;
  padding-left: 50px;
  color: #fff;
}

.sec1 .flexContainer .items.-right .price, .sec1 .flexContainer .items.-right .buyForm {
  display: inline-block;
  margin-bottom: 40px;
}

.sec1 .flexContainer .items.-right .price {
  margin-left: 30px;
}

.sec1 .flexContainer .items.-right .buyForm .buyBtn {
  color: #60cd90;
  width: 170px;
  padding: 5px;
  background-color: #0e3461;
  border: 3px solid #60cd90;
  text-align: center;
  margin-left: 40px;
  font-size: 24px;
}

.sec1 .flexContainer .items.-right .buyForm .buyBtn:hover {
  color: #0e3461;
  width: 170px;
  padding: 5px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
}

.sec1 .flexContainer .items.-right .buyForm .buyBtn:hover {
  cursor: pointer;
}

.sec1 .flexContainer .items.-right .collectForm {
  margin-left: 128px;
}

.sec1 .flexContainer .items.-right .collectForm .collectBtn {
  color: #60cd90;
  width: 70px;
  padding: 5px;
  background-color: #0e3461;
  border: 3px solid #60cd90;
  text-align: center;
}

.sec1 .flexContainer .items.-right .collectForm .collectBtn:hover {
  color: #0e3461;
  width: 70px;
  padding: 5px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
}

.sec1 .flexContainer .items.-right .collectForm .collectBtn:hover {
  cursor: pointer;
}

.sec1 .flexContainer .items.-right .collectForm .changeBtn {
  color: #60cd90;
  width: 70px;
  padding: 5px;
  background-color: #0e3461;
  border: 3px solid #60cd90;
  text-align: center;
  margin-left: 25px;
}

.sec1 .flexContainer .items.-right .collectForm .changeBtn:hover {
  color: #0e3461;
  width: 70px;
  padding: 5px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
}

.sec1 .flexContainer .items.-right .collectForm .changeBtn:hover {
  cursor: pointer;
}

.chart {
  background-color: #fff;
  margin: 100px auto;
  width: 500px;
  height: 500px;
  padding: 15px;
}

.tableBlock {
  color: #fff;
  margin-bottom: 100px;
}

.tableBlock table {
  border: 1px solid #fff;
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;
  height: 500px;
}

.tableBlock table th, .tableBlock table td {
  border: 2px solid #fff;
  text-align: center;
}

.tableBlock th {
  font-size: 28px;
}

.tableBlock td {
  font-size: 20px;
}

.maskBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.maskBlock .popUpBox {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #024f3f;
  border: 2px solid #10c5b1;
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

.maskBlock .popUpBox .popContent {
  height: 100px;
}

.maskBlock .popUpBox .confirmBlk #confirmBtn3 {
  width: 150px;
}

.maskBlock .popUpBox .confirmBlk #confirmBtn4 {
  width: 150px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.popUpBox .confirmBtn {
  padding: 0;
  height: 35px;
}

.popUpBox .confirmBtn:hover {
  color: #0e3461;
  width: 100px;
  padding: 0px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-image: url("../image/trade/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
  margin: 0;
}

@media (min-width: 992px) {
  body {
    max-width: 1200px;
    border: 1px solid blue;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    border: 1px solid red;
    margin: 0 auto;
    width: 750px;
  }
}

.roleRanksection h1 {
  color: #fff;
  text-align: center;
}

.roleRanksection .rankBloCk {
  border: 1px solid orange;
  width: 900px;
  margin: 0 auto;
  display: flex;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .roleRanksection .rankBloCk {
    width: 750px;
  }
}

.roleRanksection .rankBloCk .roleBloCk1 {
  border: 1px solid red;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .roleRanksection .rankBloCk .roleBloCk1 .imgBlock {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}

.roleRanksection .rankBloCk .roleBloCk1 .name {
  color: #fff;
  text-align: center;
}

.roleRanksection .rankBloCk .roleBloCk1 .price {
  color: #fff;
  text-align: center;
}

.roleRanksection .rankBloCk .roleBloCk2 {
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .roleRanksection .rankBloCk .roleBloCk2 .imgBlock {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}

.roleRanksection .rankBloCk .roleBloCk2 .name {
  color: #fff;
  text-align: center;
}

.roleRanksection .rankBloCk .roleBloCk2 .price {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .roleRanksection .rankBloCk .roleBloCk3 .imgBlock {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
}

.roleRanksection .rankBloCk .roleBloCk3 .name {
  color: #fff;
  text-align: center;
}

.roleRanksection .rankBloCk .roleBloCk3 .price {
  color: #fff;
  text-align: center;
}

.btnBlockmy {
  text-align: center;
  margin: 100px 0px;
}

.btnBlockmy .btn111 {
  color: #60cd90;
  width: 150px;
  padding: 5px;
  background-color: #0e3461;
  border: 3px solid #60cd90;
  text-align: center;
  margin-right: 100px;
}

.btnBlockmy .btn222 {
  color: #60cd90;
  width: 150px;
  padding: 5px;
  background-color: #0e3461;
  border: 3px solid #60cd90;
  text-align: center;
}

.btnBlockmy .btn111:hover {
  color: #0e3461;
  width: 150px;
  padding: 5px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
  cursor: pointer;
}

.btnBlockmy .btn222:hover {
  color: #0e3461;
  width: 150px;
  padding: 5px;
  background-color: #60cd90;
  border: 3px solid #0e3461;
  text-align: center;
  cursor: pointer;
}

.yasidey, .ymainy {
  display: inline-block;
  vertical-align: top;
}

.yasidey {
  width: 250px;
  background-color: #9BCFB7;
  position: relative;
  margin-right: 60px;
}

.yasidey h2 {
  text-align: center;
}

.yasidey #ysearchy {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.yasidey .ysearchBtny {
  background-color: transparent;
  position: absolute;
  top: 77px;
  right: 42px;
  border: none;
  cursor: pointer;
}

.yasidey .ycheckboxy label {
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;
}

.ymainy {
  border: 1px solid red;
  width: calc(100% - 250px - 70px);
  margin-bottom: 50px;
}

.ymainy .yproductListy {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ymainy .yproductListy li {
  border: 1px solid red;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 229px;
  background-color: #fff;
  border-radius: 33px;
  overflow: hidden;
  transition: all 0.8s;
}

.ymainy .yproductListy li:hover {
  transform: scale(1.1, 1.1);
}

.ymainy .yproductListy li a {
  text-decoration: none;
}

.ymainy .yproductListy li a .yproductImgy {
  font-size: 0;
  width: 230px;
}

.ymainy .yproductListy li a .yproductImgy img {
  width: 100%;
}

.ymainy .yproductListy li a h2 {
  text-align: center;
  color: black;
  margin: 8px 0;
}

.ymainy .yproductListy li a .yproductPricey {
  margin-bottom: 8px;
}

.ymainy .yproductListy li a .ypricey, .ymainy .yproductListy li a .ychangey {
  display: block;
  text-align: center;
  color: black;
}

.ymainy .yproductListy li a .ysellerBlocky {
  text-align: center;
  margin: 8px 0;
}

.ymainy .yproductListy li a .ysellerBlocky .ysellerImgy, .ymainy .yproductListy li a .ysellerBlocky .ysellerInfoy {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.ymainy .yproductListy li a .ysellerBlocky .ysellerImgy {
  border: 2px solid #10c5b1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0e3461;
}

.ymainy .yproductListy li a .ysellerBlocky .ysellerImgy img {
  width: 73%;
  height: 73%;
  display: block;
  margin: 4px auto;
}

.ymainy .yproductListy li a .ysellerBlocky .ysellerInfoy {
  color: black;
}

.ypagey li a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */