<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>扭蛋趣</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../js/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../../css/style.css">

</head>

<body>
    <!-- 扭蛋動畫 -->
    <div class="gachascreen none" id="gachaScreen">
        <div class="blackScreen">
            <!-- 桌機版 -->
            <section class="screen">
                <div class="ball" id="ball">
                    <img src="" id="gachaColorImg">
                </div>
                <div class="pokemonTop">
                    <img src="" id="gachaTopImg">
                </div>
                <div class="pokemonBottom">
                    <img src="" id="gachaBottomImg">
                </div>
                <div class="supRole">
                    <img src="" id="gachaRoleImg">
                </div>
                <div class="surprise">
                    <img src="../image/gachaScreen/surprise.png">
                </div>
            </section>
        </div>
    </div>
    <div class="gachascreenPhone none" id="gachaScreenPhone">
        <!-- 手機版 -->
        <section class="screenPhone">
            <div class="ballPhone" id="ballPhone">
                <img src="" id="gachaColorImgPhone">
            </div>
            <div class="pokemonTopPhone">
                <img src="" id="gachaTopImgPhone">
            </div>
            <div class="pokemonBottomPhone">
                <img src="" id="gachaBottomImgPhone">
            </div>
            <div class="supRolePhone">
                <img src="" id="gachaRoleImgPhone">
            </div>
            <div class="surprisePhone">
                <img src="../image/gachaScreen/surprise.png">
            </div>
        </section>
    </div>

    <header id="header">
        <div class="container">
            <a class="logo" href="../html/index.html">
                <img src="../image/index/logo.png" alt="logoImg">
            </a>
            <nav class="navbar">
                <ul>
                    <a href="../html/Intro.html">
                        <li>
                            <img src="../image/index/pic.png">
                            消息/介紹
                        </li>
                    </a>
                    <a href="../html/Gacha.html">
                        <li class="Change">
                            <img src="../image/index/pokemon.png">
                            角色抽取
                        </li>
                    </a>
                    <a href="../html/trade.html">
                        <li>
                            <img src="../image/index/role01.png">
                            角色交易
                        </li>
                    </a>
                </ul>
            </nav>

            <!-- phone nav-->
            <nav class="hamburger">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="headerMenu">
                        <a href="../html/index.html"><img src="../image/index/logo.png"></a>
                        <a href="../html/Intro.html">
                            <li><img src="../image/index/pic.png">消息/介紹</li>
                        </a>
                        <a href="../html/Gacha.html">
                            <li class="ChangePhone"><img src="../image/index/pokemon.png">角色抽取</li>
                        </a>
                        <a href="../html/trade.html">
                            <li><img src="../image/index/role01.png">角色交易</li>
                        </a>
                        <a href="#">
                            <div class="hamLog " id="LogOutPhone" onclick="LogOut()">登出</div>
                        </a>
                        <a href="#">
                            <div class="hamLog logbt LogInPhone" id="LogInPhone" onclick="LogIn()">登入</div>
                        </a>
                    </ul>
                </div>
            </nav>
            <!-- phone nav end -->

            <div class="icon">
                <botton type="button" class="button bt disappear" id="appear1">
                    <a href="../html/deposit.html"><i class="fas fa-coins fa-2x"></i></a>
                    <p id="headerResult"></p>
                    <div class="show">儲值</div>
                </botton>
                <botton type="button" class="button disappear" id="appear2">
                    <a href="../html/collection.html"><i class="fab fa-gratipay fa-2x"></i></a>
                    <div class="show">收藏</div>
                </botton>
                <botton type="button" class="button" onclick="memberCheck()">
                    <a href="#"><i class="fas fa-user-circle fa-2x"></i>
                        <h5 id="headerCountResult" class="countResul _off"></h5>
                    </a>
                    <div class="show">會員</div>
                </botton>
                <botton type="button" id="LogOut" class="LogOut" onclick="LogOut()">
                    <a href="#">登出</a>
                </botton>
                <botton type="button" id="LogIn" class="LogIn logbt" onclick="LogIn()">
                    <a href="#">登入</a>
                </botton>
            </div>
        </div>
    </header>
    <!-- @@include('./header.html') -->
    <p class="breadcrumb">首頁>角色抽取</p>
    <div class="gaChaBgBlk"></div>
    <div class="carouselTitle">
        <h1>扭蛋池角色</h1>
    </div>
    <!-- Swiper -->
    <div class="swiper-container two">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role3.png" alt="slide 3">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role4.png" alt="slide 4">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role5.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role7.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role8.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role10.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role11.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role12.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role13.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role14.png" alt="slide 5">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-image">
                    <img src="../image/gacha/role15.png" alt="slide 5">
                </div>
            </div>
            <!-- Add Pagination -->
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <section class="gaChaLabelBtn">
        <div class="gachaPageLable">
            <div id="app">
                <!-- 頁籤 -->
                <div class="button_bar ">
                    <button id="box1" class="-on">扭蛋</button>
                    <button id="box2" onclick="callMyRole(1)">我的角色</button>
                    <button id="box3" onclick="callAllRole(1)">角色圖鑑</button>
                </div>
            </div>
        </div>
    </section>

    <!-- 扭蛋 -->
    <section class="gachaPage" id="boxOne">
        <div class="GaCha" id="gachaGamePage">
            <div class="GaChaGame col-6">
                <div>
                    <div class="gachaBg">
                        <span id="message">GaCha!!!</span>
                        <div class="lotterybg">
                            <canvas id="myCanvas" width="285px" height="170px"></canvas>
                            <img src="../image/gachaGame/lighting.png" class="lighting" />
                        </div>
                    </div>
                    <div id="box0">
                        <img src="../image/gachaGame/—Pngtree—round button_576652.png" id="gachaStart"
                            @click="clickShow" />
                        <hidden v-if="isShow" @stop-show="close"></hidden>
                    </div>
                    <template id="PopUps0">
                        <section class="gachaMaskLayer">
                            <div class="gachaPopUpBox">
                                <div @click="clickClose" class="closeBtn1">
                                    x
                                </div>
                                <div class="popContent1">
                                    <p>將花費您300E的點數進行扭蛋</p>
                                </div>
                                <div class="confirmBlk">
                                    <button onclick="play()" @click="clickClose">確認</button>
                                    <button @click="clickClose">取消</button>
                                </div>
                            </div>
                        </section>
                    </template>
                    <div class="award"><span id="awardBall"></span></div>
                </div>
                <img src="../image/gachaGame/purple.png" id="ball1" class="gachaImgSrc">
                <img src="../image/gachaGame/green.png" id="ball2" class="gachaImgSrc">
                <img src="../image/gachaGame/yellow.png" id="ball3" class="gachaImgSrc">
                <img src="../image/gachaGame/red.png" id="ball4" class="gachaImgSrc">
                <img src="../image/gachaGame/blue.png" id="ball5" class="gachaImgSrc">
            </div>
            <div class="GaChaInfo col-6">
                <h1>扭蛋介紹</h1>
                <h2>每個角色在怪哩怪汽中<span class="red">僅有一隻</span><br>快來扭蛋獲取你的專屬角色吧！</h2>
                <div class="para">
                    <h3><i class="far fa-star"></i>扭蛋中的顏色代表著該球中角色能力值的分配</h3>
                    <p>
                        <span class="red">紅球 : 起步速度加成</span>
                        <br>
                        <span class="blue">藍球 : 碰撞干擾降低</span>
                        <br>
                        <span class="purple">紫球 : 道具能力加成</span>
                        <br>
                        <span class="yellow">黃球 : 抓地能力加成</span>
                        <br>
                        <span class="green">綠球 : 迴避攻擊率高</span>
                    </p>
                </div>
                <h4><i class=" fas fa-coins"></i>&nbsp;每次扭蛋將花費300E幣
                </h4>
                <label>點數餘額：</label><input type="text" id="point" value="尚未登入會員" readonly unselectable="on"
                    style="color: rgb(14, 52, 97);">
                <div class="goBtnBlk">
                    <div id="goBtn">
                        <button class="goBtn" @click="clickShow">扭蛋&nbsp;GO</button>
                        <hidden v-if="isShow" @stop-show="close"></hidden>
                    </div>
                    <template id="PopUps">
                        <section class="gachaMaskLayer">
                            <div class="gachaPopUpBox">
                                <div @click="clickClose" class="closeBtn1">
                                    x
                                </div>
                                <div class="popContent1">
                                    <p>將花費您300E的點數進行扭蛋</p>
                                </div>
                                <div class="confirmBlk">
                                    <button onclick="play()" @click="clickClose">確認</button>
                                    <button @click="clickClose">取消</button>
                                </div>
                            </div>
                        </section>
                    </template>
                </div>
                <div style="cursor: pointer;"><a onclick="check()">點數不夠？</a></div>
            </div>
        </div>
        <section class="pintooBlk" id="pintooBlk">
            <div class="miniGameTitle">怪哩怪氣的小遊戲</div>
            <div class="pin">
                <div class="pintooMask" id="pintooMask">
                    <h1 onclick="scrollToTop()">請進行扭蛋解鎖</h1>
                </div>
                <ul id="ul"></ul>
            </div>
        </section>
    </section>
    <!-- 扭蛋成功提示 -->
    <div id="bonusBlk" class="bonusBlk none">
        <section class="gachaHintmaskLayer">
            <div class="bonusPopUpBox">
                <div onclick="popClose(this)" class="bonusCloseBtn">
                    x
                </div>
                <div class="gachaPopContent">
                    <p>恭喜獲得50E的扭蛋獎勵
                        <br>
                        並且成功獲得角色頭像!!!
                    </p>
                </div>
                <div class="bonusConfirmBlk">
                    <button class="bonusConfirmBtn" onclick="location.href='./Gacha.html'">我知道了</button>
                    <button class="bonusConfirmBtn" onclick="toMember()">點我查看頭像</button>
                </div>
            </div>
        </section>
    </div>
    <!-- 餘額不足提示 -->
    <div id="coinBlk" class="coinBlk none">
        <section class="coinHintmaskLayer">
            <div class="coinPopUpBox">
                <div onclick="popCloseX(this)" class="coinCloseBtn">
                    x
                </div>
                <div class="coinPopContent">
                    <p>
                        您目前點數餘額不足喔<i class="far fa-sad-tear"></i>
                    </p>
                </div>
                <div class="coinConfirmBlk">
                    <button class="bonusConfirmBtn" onclick="popClose(this)">我知道了</button>
                    <button class="bonusConfirmBtn" onclick="toPoint()">前往儲值</button>
                </div>
            </div>
        </section>
    </div>
    <!-- 尚未登入提示 -->
    <div id="toLoginBlk" class="toLoginBlk none">
        <section class="toLoginHintmaskLayer">
            <div class="toLoginPopUpBox">
                <div onclick="popCloseX(this)" class="toLoginCloseBtn">
                    x
                </div>
                <div class="toLoginPopContent">
                    <p>
                        <i class="far fa-user-circle"></i>&nbsp;您尚未登入會員喔
                    </p>
                </div>
                <div class="toLoginConfirmBlk">
                    <button class="bonusConfirmBtn" onclick="popClose(this)">我知道了</button>
                    <button class="bonusConfirmBtn" onclick="toLogin()">登入或註冊～</button>
                </div>
            </div>
        </section>
    </div>

    <!-- 我的角色 -->
    <section class="myRoleBlk boxBlur" id="boxTwo">
        <div class="myRoleContent" id="myRoleContent">
        </div>
        <div class="pagination">
            <ul class="pagination_list">
                <li class="prev" onclick="prev()">&lt;</li>
                <li class="pageNumber one focus" onclick="callMyRole(1)">1</li>
                <li class="pageNumber two" onclick="callMyRole(2)">2</li>
                <li class="pageNumber three" onclick="callMyRole(3)">3</li>
                <li class="pageNumber four" onclick="callMyRole(4)">4</li>
                <li class="pageNumber five" onclick="callMyRole(5)">5</li>
                <li class="next" onclick="next()">&gt;</li>
            </ul>
        </div>
    </section>

    <!-- 角色圖鑑 -->
    <section class="myRoleBlk boxBlur" id="boxThree">
        <div class="myRoleContent" id="RoleContent">
        </div>
        <div class="pagination">
            <ul class="pagination_list">
                <li class="prev" onclick="prevAll()">&lt;</li>
                <li class="pageNumber one focus" onclick="callAllRole(1)">1</li>
                <li class="pageNumber two" onclick="callAllRole(2)">2</li>
                <li class="pageNumber three" onclick="callAllRole(3)">3</li>
                <li class="pageNumber four" onclick="callAllRole(4)">4</li>
                <li class="pageNumber five" onclick="callAllRole(5)">5</li>
                <li class="next" onclick="nextAll()">&gt;</li>
            </ul>
        </div>
    </section>

    <section id="rolesPop" class="none">
        <div class="roleMaskLayer">
            <div class="rolePopUpBox">
                <div class="roleCloseBtn" onclick="popCloseX(this)">
                    x
                </div>
                <div id="rolePopContent">
                </div>
            </div>
        </div>
    </section>
    <div class="upup">
        <i class="fas fa-arrow-circle-up totop"></i>
    </div>


    <!-- footer -->
    <footer class="footer">
        <div class="iconLink">
            <a href="#"><i class="fab fa-facebook-square fa-2x i"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x i"></i></a>
        </div>
        <div class="notice">
            <p>
                本網站為緯育TibaMe前端設計工程師班第70期第一組學員專題成果作品，本平台僅供學習、展示之用。<br>
                參考資源： 馬力歐賽車、NFT。若有侵權疑慮，您可以私訊 [ 緯育TibaMe ]，後續會由專人協助處理
            </p>
        </div>
        <div class="copyright">
            <p><i class="far fa-copyright"></i> 2021 怪哩怪汽 All Rights Reserved</p>
        </div>
    </footer>
</body>

<script src="../js/gacha/changeLabel.js"></script>
<script src="../js/gacha/swiper.js"></script>
<script src="../js/gacha/gachaGame.js"></script>
<script src="../js/gacha/pintoo.js"></script>
<script src="../js/gacha/gachaConfirmPop.js"></script>
<script src="../js/gacha/toGacha.js"></script>
<script src="../js/gacha/pop.js"></script>
<!-- <script src="../js/gacha/rolePop.js"></script> -->
<script src="../js/gacha/pagination.js"></script>
<script src="../js/gacha/gachaScreen.js"></script>
<script src="../js/header/header.js"></script>
<script src="../js/news/news_in.js"></script>
<script>
    window.onload = function () {
        status();
        function resize() {
            let p1 = new Ping();
            p1.init("#ul", 3, "role999.png");
        }
        resize();
        window.addEventListener('resize', resize, false);
        callPoints();
    }
    function check() {
        $.ajax({
            method: "POST",
            url: "../php/Gacha/playCheck.php",
            data: {},
            dataType: "text",
            success: function (response) {
                if (response == "Y") {
                    location.href = "./deposit.html";
                } else if (response == "false") {
                    document.getElementById('toLoginBlk').classList.remove('none');
                }
            },
            error: function (exception) {
                alert("數據載入失敗: " + exception.status);
            }
        });
    }
    function callPoints() {
        $.ajax({
            method: "POST",
            url: "../php/Gacha/callPoints.php",
            data: {},
            dataType: "text",
            success: function (response) {
                let point = document.getElementById('point');
                let p = response;
                if (response != "false") {
                    if (response == "") {
                        point.value = "0";
                    } else {
                        point.value = p + "E";
                    }
                }
            },
            error: function (exception) {
                alert("數據載入失敗: " + exception.status);
            }
        });
    }
    function toMember() {
        location.href = "./member_info.html";
    };
    function toPoint() {
        location.href = "./deposit.html";
    };
    function toLogin() {
        location.href = "./login.html";
    };
    function callMyRole(page) {
        $.ajax({
            method: "POST",
            url: "../php/Gacha/callMyRole.php",
            data: {},
            dataType: "json",
            success: function (response) {
                if (response == "N") {
                    alert("尚未登入會員！");
                } else {
                    let myRoleContent = document.getElementById('myRoleContent');
                    myRoleContent.innerHTML = "";
                    $.each(response, function (index, row) {
                        if ((page - 1) * 8 <= index && index < page * 8) {
                            let redShadow = "";
                            let shadowNone = "";
                            let status = "";
                            let lower = "lower";
                            let cta = "cta";
                            if (row.STATUS == 0) {
                                redShadow = `this.style.boxShadow='rgba(255, 81, 68, 0.8) 0px 19px 38px, rgba(243, 48, 57, 0.2) 0px 15px 12px'`;
                                shadowNone = `this.style.boxShadow='none'`;
                                status = "上架中";
                                mask = "containerMask";
                                lower = "lower2"
                                cta = "cta2";
                            }
                            let str = ` 
                        <section class="rolesBlk">
                            <div class="container"  onMouseOver="${redShadow}"  onMouseOut="${shadowNone}">
                                <div class="inner">
                                    <div class="content">
                                        <span><img src="../image/ROLE/${row.ROLE_IMG}" alt=""></span>
                                        <h2>${row.RNAME}</h2>
                                    </div>
                                    <div class="${lower}">
                                        <div class="features-list">
                                            <h1 name="${row.ABILITY}">角色編號:${row.ROLE_ID}</h1>
                                            <p style="color:red">${status}</p>
                                            <br>
                                            <h2>${row.ROLE_CONTENT}</h2>
                                        </div>
                                    </div>
                                </div>
                                <button class="${cta} roleInfo" onclick="callChart(this)">查看能力值</button>
                            </div>
                        </section>`;
                            myRoleContent.insertAdjacentHTML("afterbegin", str);
                        }
                    });

                }
            }
        })
    }
    function callAllRole(page) {
        $.ajax({
            method: "POST",
            url: "../php/Gacha/callAllRole.php",
            data: {},
            dataType: "json",
            success: function (response) {
                let RoleContent = document.getElementById('RoleContent');
                RoleContent.innerHTML = "";
                $.each(response, function (index, row) {
                    if ((page - 1) * 8 <= index && index < page * 8) {
                        let redShadow = "";
                        let shadowNone = "";
                        let status = "未抽取";
                        let color = "white"
                        let lower = "lower";
                        let cta = "cta";
                        if (row.AMOUNT == 0) {
                            redShadow = `this.style.boxShadow='rgba(255, 81, 68, 0.8) 0px 19px 38px, rgba(243, 48, 57, 0.2) 0px 15px 12px'`;
                            shadowNone = `this.style.boxShadow='none'`;
                            status = "已抽取";
                            lower = "lower2";
                            cta = "cta2";
                            color = "red";
                        }
                        let str = ` 
                        <section class="rolesBlk">
                            <div class="container"  onMouseOver="${redShadow}"  onMouseOut="${shadowNone}">
                                <div class="inner">
                                    <div class="content">
                                        <span><img src="../image/ROLE/${row.ROLE_IMG}" alt=""></span>
                                        <h2>${row.RNAME}</h2>
                                    </div>
                                    <div class="${lower}">
                                        <div class="features-list">
                                            <h1 name="${row.ABILITY}">ID:${row.ROLE_ID}</h1>
                                            <p style="color:${color}">${status}</p>
                                            <br>
                                            <h2>${row.ROLE_CONTENT}</h2>
                                        </div>
                                    </div>
                                </div>
                                <button class="${cta} roleInfo" onclick="callChart(this)">查看能力值</button>
                            </div>
                        </section>`;
                        RoleContent.insertAdjacentHTML("afterbegin", str);
                    }
                });
            }
        })
    }
    function callChart(item) {
        let rolesPop = document.getElementById('rolesPop');
        rolesPop.classList.remove('none');

        let img = item.parentNode.childNodes[1].childNodes[1].childNodes[1].childNodes[0].attributes['src'].value;
        // console.log(item.parentNode.childNodes[1].childNodes[3].childNodes[1].childNodes[1].attributes['name'].value);
        let rName = item.parentNode.childNodes[1].childNodes[1].childNodes[3].innerText;
        let id = item.parentNode.childNodes[1].childNodes[3].childNodes[1].childNodes[1].innerText;
        let ab = item.parentNode.childNodes[1].childNodes[3].childNodes[1].childNodes[1].attributes['name'].value;
        let rolePopContent = document.getElementById('rolePopContent');
        let str = `
                    <div class="roleImg">
                        <img src="${img}" alt="">
                    </div>
                    <div class="roleInfoPara">
                        <div class="para">
                            <h1>角色名稱:</h1>
                            <h2>${rName}
                                <br>
                                <h1>${id}</h1>

                        </div>
                        <div class="chart">
                            <canvas id="myChart" width="250" height="250"></canvas>
                        </div>
                    </div>
                        `;
        rolePopContent.innerHTML = str;
        let chart = document.getElementById('myChart').getContext('2d');
        let num = `"${ab}"`;
        let ab1 = num.slice(1, 2);
        let ab2 = num.slice(2, 3);
        let ab3 = num.slice(3, 4);
        let ab4 = num.slice(4, 5);
        let ab5 = num.slice(5, 6);

        const chartData = {
            labels: [
                '加速',
                '抓地',
                '碰撞',
                '迴避',
                '道具'
            ],
            datasets: [{
                label: '',
                data: [ab1, ab2, ab3, ab4, ab5],
                fill: true,
                fillStyle: 'red',
                backgroundColor: ' rgba(14, 52, 97, .5)',
                borderColor: 'rgba(16, 197, 177, 1)',
                pointRadius: 6,
                pointBackgroundColor: 'rgba(14, 52, 97, .1)',
                pointBorderColor: 'rgba(2, 79, 63, 1)',
                pointHoverRadius: 6,
                pointHoverBackgroundColor: 'rgba(16, 197, 177, .5)',
                pointHoverBorderColor: 'rgba(14, 52, 97, 1)',
            }]
        };
        const firstChart = new Chart(chart, {
            type: 'radar',
            data: chartData,
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    r: {
                        pointLabels: {
                            font: {
                                size: 16,
                            }
                        },
                        angleLines: {
                            display: true
                        },
                        suggestedMin: 0,
                        suggestedMax: 10
                    }
                },
                elements: {

                    line: {
                        borderWidth: 5
                    }
                }
            },
        });

    }
    function bonusClose() {
        document.getElementById('bonusBlk').classList.add('none');
    }
    function prev() {
        let page = document.querySelector('.pagination_list').querySelector(".focus").innerText - 1;
        if (page == 0) {
            return false;
        } else {
            callMyRole(page);
        }
    }
    function next() {
        let page = document.querySelector('.pagination_list').querySelector(".focus").innerText;
        callMyRole(parseInt(page) + 1);
    }
    function prevAll() {
        let page = document.querySelector('.pagination_list').querySelector(".focus").innerText - 1;

        if (page == 0) {
            return false;
        } else {
            callAllRole(page);
        }

    }
    function nextAll() {
        let page = document.querySelector('.pagination_list').querySelector(".focus").innerText;
        callAllRole(parseInt(page) + 1);
    }
    function popClose(item) {
        let blk = item.parentNode.parentNode.parentNode.parentNode;
        blk.classList.add('none');
    }
    function popCloseX(item) {
        let blk = item.parentNode.parentNode.parentNode;
        blk.classList.add('none');
    }

</script>

</html>