*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.entry{
    
    .entrybg{
        overflow-y: hidden;
        // @include border(1, #0e1c3e);
        width: 100%;
        height: 100vh;
        background-image: url(../src/image/index/entry.png);
        background-repeat: no-repeat;
        background-size: cover;
        .contentBox{
            border: 1px solid #4a418c;
            @include center;
            max-width: 1440px;
            width: 100%;
            height: 100%;
            .logoTitle{
                // @include border;
                position: absolute;
                width: 350px;
                left: 38%;
                transform: translate(-50%);
                margin-top: -5%;
                transform: rotate(7deg);
                z-index: 1;
                img{
                    width: 100%;
                }
            }

            @keyframes picDraw1 {
                0%{
                    opacity: 1;
                }
                50%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            @keyframes picDraw2 {
                0%{
                    opacity: 0;
                }
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }

            //中間的區塊
            .boxS{
                // @include border;
                position: absolute;
                width: 500px;
                top: 20%;
                left: 32%;
                z-index: 0;
                .pic1{
                    width: 500px;
                    animation: picDraw1 5s ease-in-out infinite;
                }
                .pic2{
                    position: absolute;
                    width: 500px;
                    left: 0;
                    top: 0;
                    animation: picDraw2 5s ease-in-out infinite;
                }
            }
            
            

            // 前台
            .frontSide{
                // @include border;
                width: 210px;
                // height: 160px;
                margin-left: 420px;
                margin-top: 40%;
                position: relative;
                box-shadow: 6px 6px 15px rgba(0, 0, 0,.2);
                a{
                    text-decoration: none;
                    width: 600px;
                    h1{
                        font-size: 48px;
                        font-weight: 400;
                        color: #fff;
                        background-color: $dark_blue;
                        padding: 6% 22%;
                        @include border_r(20);
                        text-align: center;
                        &:hover{
                            background-color: $light_green;
                            color: $dark_blue;
                            transform: scale(1.2);
                            transition: all 0.6s;
                        }
                    }
                }
            }

            //後台
            .backSide{
                // @include border;
                width: 210px;
                // height: 160px;
                margin-left: 800px;
                margin-top: -6.5%;
                position: relative;
                a{
                    text-decoration: none;
                    width: 600px;
                    h1{
                        font-size: 48px;
                        font-weight: 400;
                        color: #fff;
                        background-color: $dark_blue;
                        padding: 6% 22%;
                        @include border_r(20);
                        text-align: center;
                        &:hover{
                            background-color: $light_green;
                            color: $dark_blue;
                            transform: scale(1.2);
                            transition: all 0.6s;
                        }
                    }
                }
            }
           

            //角色代表我們六人
            // 左邊三隻
            .left_sidebar.-open{
                transform: translate(0%, 0%);
            }
            .left_sidebar2.-open{
                transform: translate(0%, -50%);
            }
            .left_sidebar3.-open{
                transform: translate(0%, -100%);
            }


            .RoleF{
                position: fixed;
                top: .5%;
                left: 0;
                transform: translate(-100%, 0%);
                min-height: 180px;
                width: 280px;
                background-color: #9fcfec;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 0 10px 10px 0;
                z-index: 100;
                transition: transform 1s;
                .btDL{
                    background: none;
                    position: absolute;
                    left: 99%;
                    top: -15px;
                    transform: translate(100%, 50%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleLeft{
                        // @include border;
                        width: 180px;
                        position: absolute;
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar{
                    .bon{
                        display: inline-block;
                        width: 150px;
                        h3{
                            margin-left: 15%;
                        }
                        img{
                            width: 100%;
                            margin-left: 50%;
                            margin-top: -50%;
                        }
                    }
                }
            }
            .RoleF2{
                position: fixed;
                top: 50%;
                left: 0;
                transform: translate(-100%, -50%);
                min-height: 180px;
                width: 280px;
                background-color: #f5f3e4;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 0 10px 10px 0;
                z-index: 100;
                transition: transform 1s;
                .btDL2{
                    background: none;
                    position: absolute;
                    left: 99%;
                    top: -6%;
                    transform: translate(100%, 50%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleLeft2{
                        // @include border;
                        width: 180px;
                        position: absolute;
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar2{
                    .bon{
                        display: inline-block;
                        width: 150px;
                        h3{
                            margin-left: 15%;
                        }
                        img{
                            width: 100%;
                            margin-left: 50%;
                            margin-top: -47%;
                        }
                    }
                }
            }
            .RoleF3{
                position: fixed;
                top: 100%;
                left: 0;
                transform: translate(-100%, -100%);
                min-height: 180px;
                width: 280px;
                background-color: #9fcfec;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 0 10px 10px 0;
                z-index: 100;
                transition: transform 1s;
                .btDL3{
                    background: none;
                    position: absolute;
                    left: 99%;
                    top: -6%;
                    transform: translate(100%, 50%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleLeft3{
                        // @include border;
                        width: 180px;
                        position: absolute;
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar3{
                    .bon{
                        display: inline-block;
                        width: 150px;
                        h3{
                            margin-left: 15%;
                        }
                        img{
                            width: 100%;
                            margin-left: 50%;
                            margin-top: -47%;
                        }
                    }
                }
            }
            
            // 右邊三隻 
            .right_sidebar.-open{
                transform: translate(0%, -50%);
            }
            .right_sidebar3.-open{
                transform: translate(0%, -100%);
            }

            .RoleR{
                position: fixed;
                top: 12%;
                right: 0;
                transform: translate(100%, -50%);
                min-height: 180px;
                width: 280px;
                background-color: #f5f3e4;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 10px 0 0 10px;
                z-index: 100;
                transition: transform 1s;
                .btD{
                    background: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-100%, -50%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleRight{
                        // @include border;
                        width: 180px;
                        // transform: rotate(5deg);
                        position: absolute;
                        right: 0;
                        top: 0;
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar4{
                    display: inline-block;
                    .bon{
                        width: 150px;
                        h3{
                            margin-left: 15%;
                        }
                        img{
                            width: 100%;
                            margin-left: 50%;
                            margin-top: -47%;
                        }
                    }
                }
            }
            .RoleR2{
                position: fixed;
                top: 50%;
                right: 0;
                transform: translate(100%, -50%);
                min-height: 180px;
                width: 280px;
                background-color: #9fcfec;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 10px 0 0 10px;
                z-index: 100;
                transition: transform 1s;
                .btD2{
                    background: none;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-100%, -50%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleRight2{
                        // @include border;
                        width: 180px;
                        // transform: rotate(5deg);
                        position: absolute;
                        right: 0;
                        top: -80px;
                        transform: translateY(-50%);
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar5{
                    display: inline-block;
                    .bon{
                        width: 150px;
                        h3{
                            margin-left: 145%;
                            margin-top: -102%;
                        }
                        img{
                            width: 100%;
                            margin-left: 25%;
                            margin-top: 5%;
                        }
                    }
                }
            }
            .RoleR3{
                position: fixed;
                top: 100%;
                right: 0;
                transform: translate(100%, -100%);
                min-height: 180px;
                width: 280px;
                background-color: #f5f3e4;
                color: black;
                padding: 10px 20px 10px 10px;
                border-radius: 10px 0 0 10px;
                z-index: 100;
                transition: transform 1s;
                .btD3{
                    background: none;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    transform: translate(-100%, -100%);
                    padding: 4px 0;
                    cursor: pointer;
                    .RoleRight3{
                        // @include border;
                        width: 180px;
                        // transform: rotate(5deg);
                        position: absolute;
                        right: 0;
                        top: -166px;
                        transform: translateY(-100%);
                        img{
                            width: 100%;
                        }
                    }
                }
                .sidebar6{
                    display: inline-block;
                    .bon{
                        width: 150px;
                        h3{
                            margin-left: 145%;
                            margin-top: -102%;
                        }
                        img{
                            width: 100%;
                            margin-left: 25%;
                            margin-top: 5%;
                        }
                    }
                }
            }
        }
    }
}


