.gachascreen{

    .screen{
        width: 100vw;
        height: 100vh;
        .ball{
            // @include border;
            width: 200px;
            height: 200px;
            margin-top: 20%;
        }
        .PokemonTop{
            // @include border;
            width: 200px;
            height: 200px;
        }
        .PokemonBottom{
            // @include border;
            width: 200px;
            height: 200px;
        }
    }

}