@import "../mixin/mixins";
@import "../base/font";
@import "../base/color";





.out{
  a{
    text-decoration: none;
    p {
        font-size: $fontSize;
        color:$tiffiny_green;
    }
    h3{
        font-size:$fontSizeH3;
        color:$tiffiny_green;
    }
    .p{
        padding-left: 10px;
        color:white;
    }

}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    @include center;
    margin-top:50px;
    border:1px solid white;
    @include desktop{
        width:100%;
        display:flex;
        flex-direction: row;
      }
      @include desktop_small{
        width:100%;
        display:flex;
        flex-direction: column;
      }
      @include pad{
        width:100%;
        display:flex;
        flex-direction: column;
      }
      @include pad_small{
        width:100%;
        display:flex;
        flex-direction: column;
      }

      @include phone{
        width:100%;
        display:flex;
        flex-direction: column;
      }

      @include phone_small{
        width:100%;
        display:flex;
        flex-direction: column;
      }
    }
        

    .fir1{
        margin-left:auto;
        width:600px;
        @include desktop{
            display:flex;
            flex-direction: row;
          }
          @include desktop_small{
            width:100%;
            display:none;
          }
          @include pad{
            width:100%;
            display:none;
          }
          @include pad_small{
            width:100%;
            display:none;
          }

          @include phone{
            width:100%;
            display:none;
          }

          @include phone_small{
            width:100%;
            display:none;
          }

    }

    .left{
        @include center;
        line-height: 50px;
        .pp{
          line-height: 50px;
        }
    }

  .char{
    display:flex;
    justify-content: space-between;
    img{
        width:150px;
    }
}


.search-form{
    margin-top:110px;
    display:flex;
    justify-content: flex-end;
    #search-input{
        font-size:20px;
        background: url('../src/image/intro/search.jpg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 30px;
        background-color: #fff;
    }
    .search{
        font-size:30px;
    }
}



.buttons{
  display:flex;
  justify-content: center;
  margin-top:-40px;
  margin-bottom:80px;
  @include desktop_small{
    margin-top:40px;
  }
  @include pad{
    margin-top:40px;

  }
  @include pad_small{
    margin-top:40px;

  }

  @include phone{
    margin-top:40px;

  }

  @include phone_small{
    margin-top:40px;

  }

  button.bbbn{
    cursor: pointer;
    @include btn_blur(20, 20);
    @include border_r(15);
    padding:15px;
    font-size:18px;
  }
  button.bbbn2{
    display:none;
    cursor: pointer;
    @include btn_blur(20, 20);
    @include border_r(15);
    padding:15px;
    font-size:18px;
  }

}


.wrap{
    cursor:pointer;
    width:100%;
    margin-top:50px;
    display:flex;
    justify-content: center;
    opacity: 0.6;
    line-height: 100px;
    @include desktop{
        display:flex;
        flex-direction: row;
      }
      @include desktop_small{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
      }
      @include pad{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
      }
      @include pad_small{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
      }

      @include phone{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
      }

      @include phone_small{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
      }


      
    &:hover{
        opacity:1;
        transition: .3s ease-in-out;
    }

    .sec{
        color:$tiffiny_green;
        margin-right:20px;
        height:250px;
    }
    
    .name{
        text-align: center;
        width:100%;
        .h3{
          color:$tiffiny_green;
        }
        .p{
          color:$tiffiny_green;
        }
    }
    
  }
}

#bnbn{
  pointer-events: none;
  cursor: pointer;
  @include btn_blur(20, 20);
  @include border_r(15);
  padding:15px;
  font-size:18px;
  margin-top:50px;
  &:hover{
    @include btn_on(20,20);
    }
  }

.noContent {
  pointer-events: none;
}

  .upup {
    cursor:pointer;
    display:flex;
    justify-content: flex-end;
    margin: 50px 50px 0 0;  
    font-size: 3rem;
    color:#fff;
    &:hover{
      transform: translateY(-20px);
      transition: all .5s ease-in-out;
    }
  }  





.wrap78{
  display:flex ; 
  width:100%;
  margin-top:50px;
  opacity: 0.6;
  line-height: 100px;
  @include desktop{
    display:flex ; 
    flex-direction: row;
    }
    @include desktop_small{
      width:100%;
      display:flex;
      flex-direction: column;
      opacity: 1;
    }
    @include pad{
      width:100%;
      display:flex;
      flex-direction: column;
      opacity: 1;
    }
    @include pad_small{
      width:100%;
      display:flex;
      flex-direction: column;
      opacity: 1;
    }

    @include phone{
      width:100%;
      display:flex;
      flex-direction: column;
      opacity: 1;
    }

    @include phone_small{
      width:100%;
      display:flex;
      flex-direction: column;
      opacity: 1;
    }


    
  &:hover{
      opacity:1;
      transition: .3s ease-in-out;
  }

  .sec{
      margin-right:20px;
      height:250px;
  }
  
  .name{
      text-align: center;
      width:100%;
  }
  
}


