* {
    box-sizing: border-box;
}


.allBlock {
    background-image: url("../src/image/trade/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    margin: 90px 0 0 0;

    .p{
        font-size: $fontSize;
        color:$tiffiny_green;
        }



    //角色資訊

    .sec1 {

        padding-top: 100px;

        .flexContainer {
            display: flex;
            width: 800px;
            @include center;

            @include desktop_small {
                width: 730px;
            }

            @include pad {
                width: 500px;
                flex-direction: column;

            }

            @include pad_small {
                width: 100%;
                flex-direction: column;
            }

            @include phone {
                width: 100%;
                flex-direction: column;
            }

            @include phone_small {
                width: 100%;
                flex-direction: column;
            }


            .items.-left {
                //border: 1px solid deeppink;
                flex-basis: 300px;
                flex-shrink: 0;
                font-size: 0;
                width: 100%;

                @media (max-width: 823px){
                    flex-basis: 250px;
                }

                @include pad{
                    flex-basis: 180px;
                }


                .imgBlock {
                    width: 300px;
                    height: 300px;

                    @media (max-width: 823px){
                        width: 250px;
                        height: 250px;
                    }



                    @media (max-width: 768px){
                        width: 180px;
                        height: 180px;
                        margin: 0 auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }

            }

            .items.-right {
                //border: 1px solid yellowgreen;
                flex-grow: 1;
                font-size: 20px;
                padding-left: 50px;
                color: #fff;

                @media (max-width: 768px){
                    text-align: center;
                    padding-left: 0px;
                }



                .title1 {
                    margin-top: 15px;
                    margin-bottom: 30px;

                    @media (max-width: 768px){
                        text-align: center;
                    }
    
                }



                .introduce {
                    //border: 1px solid deepskyblue;
                    margin-bottom: 30px;
                    width:80%;

                    @media (max-width: 768px){
                        margin: 0 auto 30px;
                    }
                    }

                    



                .price,
                .buyForm {
                    display: inline-block;
                    //border: 1px solid red;
                    margin-bottom: 30px;

                    @media (max-width: 412px){
                        display: block;
                    }



                }




                .price,
                .collectForm {
                    display: inline-block;
                    //border: 1px solid blue;
                    margin-bottom: 35px;

                    @media (max-width: 768px){
                        display: block;
                }
            }

                .price {
                    margin-left: 50px;
                    //border: 1px solid red;
                    margin-bottom: 30px;

                    @media (max-width: 768px){
                        margin: 0 auto 30px;

                    }

                }

                .collectForm {
                    margin-left: 70px;
                    @media (max-width: 768px){
                        margin-left: 0px;

                    }

                    .btnBlock1{
                        //border: 1px solid palegoldenrod;
                        width: 180px;
                    
                        @media (max-width: 768px){
                        margin: 0 auto;
                        }

                    .collectBtn {
                        @include btn_blur (70px, 5px);
                        border-radius: 10px;

                        &:hover {
                            @include btn_on (70px, 5px)
                        }

                        &:hover {
                            cursor: pointer
                        }
                    }

                    .changeBtn {
                        @include btn_blur (70px, 5px);
                        border-radius: 10px;

                        &:hover {
                            @include btn_on (70px, 5px)
                        }

                        margin-left: 25px;

                        &:hover {
                            cursor: pointer
                        }
                    }
                    }
                }


                .buyForm {
                    .buyBtn {
                        @include btn_blur (170px, 5px);
                        border-radius: 10px;

                        &:hover {
                            @include btn_on (170px, 5px)
                        }

                        margin-left: 0px;
                        font-size: $fontSizeH3;

                        &:hover {
                            cursor: pointer
                        }
                    }
                }



            }
        }
    }

    //雷達圖


    .chart {
        background-color: #fff;
        //@include border;
        margin: 100px auto;
        width: 500px;
        height: 500px;
        padding: 15px;
        border: 3px solid #d8b236;
        border-radius: 20px;

        @media(max-width: 600px){
            width: 80%;
            height: 80%;
        }

    }

    //能力值

    .tableBlock {
        color: #fff;
        padding-bottom: 100px;

        table {
            border: 1px solid #fff;
            border-collapse: collapse;
            @include center;
            width: 600px;
            height: 500px;

            @media (max-width: 729px) {
                width: 500px;
                height: 400px;
            }

            @media (max-width: 578px) {
                width: 400px;
                height: 300px;
            }

            @media (max-width: 460px) {
                width: 360px;
                height: 300px;
            }



            th,
            td {
                border: 2px solid #fff;
                text-align: center;
                @media (max-width: 585px) {
                    font-size: $fontSize;
                }
    
                @media (max-width: 460px) {
                    font-size: $fontSizeSmall;
                }
    
            }
        }

        th {
            font-size: $fontSizeH2;
        }

        td {
            font-size: $fontSizeH4;
        }
    }

    ////////購買視窗

    .maskBlockM {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200vh;
        background-color: rgba(0, 0, 0, 0.7);


        .popUpBox {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(2, 79, 63, 1);
            border: 2px solid rgba(16, 197, 177, 1);
            width: 500px;
            height: 250px;
            border-radius: 5px;

            .closeBtn {
                background-color: rgba(16, 197, 177, 1);
                border-radius: 2px;
                font-size: 28px;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
            }

            .popContent {
                text-align: center;
                color: rgba(96, 205, 144, 1);
                margin-top: 80px;
                height: 100px;
            }

            .confirmBlk {

                display: flex;
                justify-content: space-evenly;

                .confirmBtn {
                    padding: 0;
                    height: 35px;

                    &:hover {
                        @include btn_on (100px, 0px)
                    }
                }

                #confirmBtn3 {
                    width: 150px;
                }

                #confirmBtn4 {
                    width: 150px;
                }
            }
        }
    }


    ///////////////交換pop視窗-1
    .test {
        .maskLayer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200vh;
            background-color: rgba(0, 0, 0, 0.7);

            .popUpBox {
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(2, 79, 63, 1);
                border: 2px solid rgba(16, 197, 177, 1);
                width: 80%;
                height: 480px;
                border-radius: 5px;
                overflow: auto;


                .closeBtn {
                    background-color: rgba(16, 197, 177, 1);
                    border-radius: 2px;
                    font-size: 28px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    font-family: Arial, Helvetica, sans-serif;
                    cursor: pointer;
                    position: sticky;
                    top: 0px;
                    float: right;
                }

                .popContent12 {
                    text-align: center;
                    color: rgba(96, 205, 144, 1);
                    margin-top: 20px;
                    margin-bottom: 20px;

                    p {
                        font-size: 24px;
                    }
                }

                .roleBlock1Mark {

                    .roleList1Mark {
                        //border: 1px solid red;
                        margin: 0 0 0 50px;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;



                        li {
                            //border: 1px solid yellow;
                            width: calc((100% - 60px - 50px) / 4);
                            margin-right: 20px;
                            margin-bottom: 25px;

                        }
                    }
                }


            }
        }
    }

}

////////////交換確認視窗-2


.test {
    .popUpBox {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 800px;
        height: 480px;
        border-radius: 5px;

        .roleArea{

            text-align: center;

            @media (max-width:900px){
                margin-bottom: 40px;
            }

        .myRoleBlock,
        .doubleArrow,
        .yourRoleBlock {
            display: inline-block;
            vertical-align: middle;
        }

        .myRoleBlock {

            //border: 1px solid yellow;


            .myRoleP {
                margin-bottom: 20px;
                text-align: center;
                color: #fff;
            }

            .myRoleImg {
                width: 230px;
                @media (max-width:900px){
                    width:150px;
                    //border: 1px solid orangered;
                }

                @media (max-width:700px){
                    width:100px;
                    //border: 1px solid orangered;
                }

                @media (max-width:500px){
                    width:80px;
                    //border: 1px solid orangered;
                }


                img{
                    width: 100%;
                }
    
            }

            .myRoleNameBlock {
                text-align: center;
                margin-top: 20px;

                p {
                    color: #fff;
                }
            }
        }

        .doubleArrow {
            width: 100px;
            height: 100px;
            font-size: 100px;
            margin: 0 30px;
            //border: 1px solid purple;

            @media (max-width:600px){
                width: 80px;
                height: 80px;
                font-size: 80px;
                margin: 0 20px;
                }

                @media (max-width:450px){
                    width: 60px;
                    height: 60px;
                    font-size: 60px;
                    margin: 0 15px;
                    }
    

        }


        .yourRoleBlock {

            //border: 1px solid yellow;   


            .yourRoleP {
                margin-bottom: 20px;
                text-align: center;

                p {
                    color: #fff;
                }
            }

            .yourRoleImg {
                width: 230px;
                @media (max-width:900px){
                    width:150px;
                    //border: 1px solid orangered;
                }

                @media (max-width:700px){
                    width:100px;
                    //border: 1px solid orangered;
                }

                @media (max-width:500px){
                    width:80px;
                    //border: 1px solid orangered;
                }


            }

            .yourRoleNameBlock {
                text-align: center;
                margin-top: 20px;

                p {
                    color: #fff;
                }
            }

        }

        }

        .closeBtn13 {
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .popContent13 {
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-bottom: 10px;

            p {
                margin-top: 30px;
                font-size: 24px;

                @media (max-width:900px){
                    margin-bottom: 40px;
                }


            }


        }
    
        .confirmBlk13 {

            display: flex;
            justify-content: center;
            margin-top: 20px;


            .confirmBtnBack13 {
                text-align: center;
                line-height: 30px;
                text-decoration: none;
                border: 3px solid rgba(16, 197, 177, 1);
                color: rgba(16, 197, 177, 1);
                background-color: rgba(14, 52, 97, 1);
                width: 100px;
                height: 35px;
                border-radius: 10px;
                padding: 0;
                margin-right: 30px;

                &:hover {
                    @include btn_on (100px, 0px)
                }
            }


            .confirmBtn13 {
                text-align: center;
                line-height: 30px;
                text-decoration: none;
                border: 3px solid rgba(16, 197, 177, 1);
                color: rgba(16, 197, 177, 1);
                background-color: rgba(14, 52, 97, 1);
                width: 100px;
                height: 35px;
                border-radius: 10px;
                padding: 0;

                &:hover {
                    @include btn_on (100px, 0px)
                }
            }

        }
    }
}


///////////////交換pop視窗-3


.allBlock {
    .popUpBox {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 300px;
        height: 250px;
        border-radius: 5px;

        .closeBtn14 {
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .popContent14 {
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-top: 150px;
            height: 100px;
            font-size: 32px;
        }

}
}


/////////////////////pop視窗
.allBlock {
    .maskLayer {
        display: none;
    }

    .popShow {
        display: block;
    }

    .popUpBox {
        display: none;
    }

    .box {
        display: block;
        background-color: burlywood;
    }

    .one {
        background-color: aquamarine;
    }

    .abc {
        display: block
    }


}
// 沒有點數談窗
.noPointHintmaskLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;

    .noPointPopUpBox {
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 300px;
        height: 200px;
        border-radius: 5px;
        z-index: 999;
    }

    .noPointCloseBtn {
        position: absolute;
        right: 0;
        background-color: rgba(16, 197, 177, 1);
        border-radius: 2px;
        font-size: 28px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .noPointPopContent {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: rgba(96, 205, 144, 1);
        color: $tiffiny_green;
        font-size: $fontSize;
        top: 50%;
        transform: translateY(-50%);

        @include desktop_small {
            font-size: $fontSize;
        }

        @include pad {
            font-size: $fontSizeSmall;
        }

        @include pad_small {
            font-size: $fontSizeMin;
        }

        @include phone {
            font-size: $fontSizeMin;
        }
    }

    .noPointConfirmBlk {
        position: absolute;
        display: flex;
        // @include border();
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;


        button {
            margin: 0 10px;
            @include btn_blur(100px, 5px);
            @include border_r(5);
            cursor: pointer;
            transition: .3s;

            &:hover {
                @include btn_on(100px, 5px);
            }
        }
    }
}

// 自我交易彈窗
.selfHintmaskLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;

    .selfPopUpBox {
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 300px;
        height: 200px;
        border-radius: 5px;
        z-index: 999;
    }

    .selfCloseBtn {
        position: absolute;
        right: 0;
        background-color: rgba(16, 197, 177, 1);
        border-radius: 2px;
        font-size: 28px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .selfPopContent {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        color: rgba(96, 205, 144, 1);
        color: $tiffiny_green;
        font-size: $fontSize;
        top: 50%;
        transform: translateY(-50%);

        @include desktop_small {
            font-size: $fontSize;
        }

        @include pad {
            font-size: $fontSizeSmall;
        }

        @include pad_small {
            font-size: $fontSizeMin;
        }

        @include phone {
            font-size: $fontSizeMin;
        }
    }

    .selfConfirmBlk {
        position: absolute;
        display: flex;
        // @include border();
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;


        button {
            margin: 0 10px;
            @include btn_blur(100px, 5px);
            @include border_r(5);
            cursor: pointer;
            transition: .3s;

            &:hover {
                @include btn_on(100px, 5px);
            }
        }
    }
}