@import "../mixin/mixins";
@import "../base/font";
@import "../base/color";

h1{
  font-size: $fontSizeH1;
  color:white;
}

h3{
  font-size: $fontSize_h3;
  color:white;

}

p{
  font-size: $fontSize;
  color:white;

}

body{
    overflow-x: hidden;
    margin:0;
    @include center;
    background-image: url("../images/intro/背景寬版1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1200px;
    padding: 0;
    @include desktop{
      width:100%;
    }
    @include desktop_small{
      width:100%;
    }
    @include pad{
      width:100%;
    }
    @include pad_small{
      width:100%;
    }
    @include phone{
      width:100%;
    }
    @include phone_small{
      width:100%;
    }

.header{
    h1{
        text-align: center;
        font-size: $fontSizeH1;
    }
    .p{
      font-size: $fontSize;
      color:$tiffiny_green;
    }
    .ti-2{
      text-align: right;
    }
    button{
        cursor: pointer;
        @include btn_on(50, 50);
        @include border_r(100);
        padding:15px;
        font-size:15px;
        margin-right:auto;
        &:hover{
          background-color: #000;
          color:#fff;
        }
    }
}


.card{
  margin-top:50px;
  margin-bottom:5px;
  overflow:hidden;
  cursor:grab;
}
.thumbnail{
  width:100%;
  border: 1px solid #fff;
}
.thumbnail:hover{
  transition: .7s ease-in-out;
  transform:scale(1.1 , 1.1);
}
.title{
  text-align:center;
  // font-size:25px;
  border: 1px solid #fff;
}    
    a{
      text-decoration: none;
      color:$tiffiny_green;
      }
    h3{
      font-size: $fontSize_h3;
    }  
    p{
      font-size:$fontSize;
      line-height: 25px;
    }



section{
    text-align: center;
    position: relative;
    .racing{
      border-bottom-style: dashed;
      border-width: 40px;
      height:50px;
      color:gray;
      margin-bottom: 50px;
    }
    .intr{
      // border:3px solid red;
      margin-top: 50px;
    }
    .h1{
      font-size: $fontSizeH1;
    }
    .img{
      z-index: -100;
      width: 300px;
      position: absolute;
      margin-top: -150px;
      margin-left: -300px;  
    }
}

.slick-next{
  right:-20px;
}

.slick-prev{
  z-index: 100;
  left:-20px;
}




.total{
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fs {
    z-index: 5;
    background: url('https://images5.alphacoders.com/342/thumb-1920-342293.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }
  .sc {
    z-index: 4;
    background: url("https://picfiles.alphacoders.com/353/thumb-1920-353921.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .th {
    z-index: 3;
    background: url("https://picfiles.alphacoders.com/353/thumb-1920-353957.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fr {
    z-index: 2;
    background: url("../images/intro/Web\ 1920\ –\ 1@2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fi {
    z-index: 1;
    background: url("https://images6.alphacoders.com/334/thumb-1920-334838.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page{
    height: 500px;
    position: sticky;
    bottom: 0;
    margin-bottom:50px;
    box-shadow: 0 10px 15px #00000060;
    .con-2{
      width:480px;
      background-color: black;
      text-align: center;
      color: #efefff;
      margin-top:200px;  
    }

    h3{
      font-size: $fontSize_h3;
    }

    p{
      text-align: left;
      font-size: $fontSize;
    }
  }
}
}  





