main.member {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/member/back.jpg);
    padding-bottom: 100px;
    width: 100%;
    background-position: left top;
    margin: 0;
    box-sizing: border-box;
    margin: 0;


    .main_contain {
        width: 95%;
        max-width: 1200px;
        @include center;
        @include grids(12);
        padding-top: 100px;
    }



    //上方選單
    div.bar {
        @include center;
        // @include border(1, $dark_blue);
        display: flex;


        div.trading,
        div.points,
        div.information {
            @include border(1, $dark_blue);
            text-align: center;
            background-color: white;
            padding-bottom: 20px;
        }


        div.trading {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            padding: 0;
            border: 0;
        }

        div.points,
        div.information {
            width: 25%;
            padding: 0;
            border: 0;
        }

        .fa-list-alt,
        .fa-search-dollar,
        .fa-pencil-alt {
            width: 100%;
            font-size: 32px;
        }


        div.title {
            width: 100%;
            background-color: $dark_blue;
            color: white;
            font-size: $fontSizeH3;
        }


        div.title {
            display: none;
        }


        button {
            background-color: transparent;
            width: 200px;
            @include center;
            color: $dark_blue;
            @include border(0);
            font-size: $fontSizeH4;
            margin-top: 20px;
            cursor: pointer;
        }

        button {
            color: $dark_blue;
            text-decoration: none;
        }


        button {
            width: 100%;
            height: 77px;
            margin: 0;
            @include border(1, $dark_blue);

            a {
                font-size: 16px;
            }
        }


        button._on {
            background-color: $dark_blue;
        }

        button._on {
            color: white;
        }
    }




    //頁籤
    div.button_bar {
        // border: 1px solid black;
        margin-top: 50px;
        display: flex;

        button {
            // display: inline-block;
            width: 150px;
            height: 50px;
            font-size: 20px;
            background-color: white;
            @include border(1, $dark_blue);


        }

        @media (max-width: 577.98px) {
            button {
                width: 80px;
                height: 30px;
                font-size: 16px;
            }
        }

        button._on,
        button.bookmark {
            background-color: $dark_blue;
            color: white;
            @include border(1, white)
        }

    }

    //下方顯示
    div.content {
        @include border(1, $dark_blue);
        background-color: white;
        padding: 0;

        img {
            // display: none;
            width: 130px;
            height: 145px;
            @include center;
        }

        @media (max-width: 767.98px) {
            img {
                width: 80px;
                height: 100px;
                margin: 0;
            }
        }

        @media (max-width: 767.98px) {
            .apply_date {
                display: none;
            }


        }

        .buyer_contain,
        .saler_contain {
            display: none;
        }

        .bookmark {
            display: block;
        }

        div.contain_bar {
            background-color: $dark_blue;
            color: white;
            display: flex;
            height: 42px;
            line-height: 42px;

            .apply_date,
            .my_role,
            .product {
                text-align: center;
                font-size: 20px;
            }

            .apply_date {
                min-width: 80px;
            }

            .status {
                padding-left: 20px;
                font-size: 20px;
            }

            @media (max-width: 577.98px) {

                .status,
                .my_role,
                .product {
                    width: 25%;
                    font-size: 16px;
                }
            }
        }

        @media (max-width: 577.98px) {
            div.contain_bar {
                height: 30px;
                line-height: 30px;
            }
        }

        div.contain_list {
            display: flex;
            text-align: center;
            // border: 1px solid black;
            height: 150px;
            line-height: 150px;
            flex-wrap: wrap;
            width: 100%;

            .col-1 {
                min-width: 80px;
            }

            button {
                @include btn_blur(100, 10px);
                cursor: pointer;
            }


            button:hover {
                @include btn_on(100, 10px);
                cursor: pointer;
            }

            @media (max-width: 767.98px) {
                div.trade_button {
                    margin: 0;
                    padding: 0;
                }

                button {
                    @include btn_blur(80, 5px);
                    margin: 0;
                }

                button:hover {
                    @include btn_on(80, 5px);
                }
            }


            button.delete {
                background-color: transparent;
                @include border(0);

                .fa-trash-alt {
                    color: red;
                    font-size: 24px;
                    z-index: 2;
                    position: relative;
                    cursor: pointer;
                }
            }

            span.trade_status {
                min-width: 80px;
            }

            @media (max-width: 577.98px) {

                .apply_date,
                .my_role,
                .product {
                    width: 25%;
                }
            }
        }

        @media (max-width: 767.98px) {
            div.contain_list {
                height: 100px;
                line-height: 100px;
            }
        }

        hr {
            width: 100%;
            @include center;
        }

        div._off::before {
            content: "";
            height: 150px;
            width: 1200px;
            max-width: 94.9%;
            position: absolute;
            z-index: 1;
            background-color: rgba(201, 200, 200, 0.5);
        }

        @media (max-width: 767.98px) {
            div._off::before {
                height: 100px;

            }
        }

        .saler_contain {
            button.reject {
                background-color: #024F7B;
                border-color: #51AB82;
                color: #51AB82;
            }
        }

        div._off {
            // background-color: rgba(201, 200, 200, 0.8);

            span.trade_status {
                color: red;
                min-width: 80px;
            }
        }

        div.saler_contain {
            width: 100%;

            div.trade_button {

                button.confirm,
                button.reject {
                    display: block;
                    @include center;
                    margin-top: 10px;
                }

                button.confirm {
                    margin-top: 30px;
                }

                @media (max-width: 767.98px) {
                    div.trade_button {
                        margin: 0;
                        padding: 0;
                    }

                    button.confirm {
                        margin-top: 10px;
                    }
                }
            }
        }

    }



    section.maskLayer {
        left: 0;
        height: 100%;
        display: none;
        z-index: 2;
        position: fixed;

        div.popUpBox {
            // background-color: $dark_blue;
            width: 50%;
            z-index: 3;
            height: 300px;
            @include grids(6);
            top: 10%;

            div.popContent {
                margin-top: 10px;
            }

            .title {
                display: flex;
                flex-wrap: wrap;
                @include center;

                span {
                    width: 100%;
                    text-align: left;
                    margin-bottom: 30px;
                }

                button {
                    @include btn_blur(300px, 10px);
                    cursor: pointer;
                    @include center;
                    margin-bottom: 15px;
                }

                button:hover {
                    @include btn_on(300px, 10px);
                    cursor: pointer;
                    @include center;
                    margin-bottom: 15px;
                }
            }

            div.closeBtn {
                position: absolute;
                right: 0;
            }
        }

        @media (max-width: 767.98px) {
            div.popUpBox {
                width: 80%;
                display: flex;
                flex-wrap: nowrap;
                padding: 0;
                border: 0;
            }
        }
    }

    section.popShow {
        display: block;
    }


}

//trading_list
main.trading_list {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/member/back.jpg);

    padding-bottom: 100px;
    width: 100%;
    background-position: left top;
    box-sizing: border-box;

    .main_contain {

        @include center;
        @include grids(12);
        width: 95%;
        max-width: 1200px;
        padding-top: 100px;
    }

    //上方選單
    div.bar {
        @include center;
        // @include border(1, $dark_blue);
        display: flex;


        div.trading,
        div.points,
        div.information {
            @include border(1, $dark_blue);
            text-align: center;
            background-color: white;
            padding-bottom: 20px;
        }


        div.trading {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            padding: 0;
            border: 0;
        }

        div.points,
        div.information {
            width: 25%;
            padding: 0;
            border: 0;
        }

        .fa-list-alt,
        .fa-search-dollar,
        .fa-pencil-alt {
            width: 100%;
            font-size: 32px;
        }


        div.title {
            width: 100%;
            background-color: $dark_blue;
            color: white;
            font-size: $fontSizeH3;
        }


        div.title {
            display: none;
        }


        button {
            background-color: transparent;
            width: 200px;
            @include center;
            color: $dark_blue;
            @include border(0);
            font-size: $fontSizeH4;
            margin-top: 20px;
            cursor: pointer;
        }

        button {
            color: $dark_blue;
            text-decoration: none;
        }


        button {
            width: 100%;
            height: 77px;
            margin: 0;
            @include border(1, $dark_blue);

            a {
                font-size: 16px;
            }
        }


        button._on {
            background-color: $dark_blue;
        }

        button._on {
            color: white;
        }
    }


    //頁籤
    div.button_bar {
        // border: 1px solid black;
        margin-top: 50px;
        display: flex;

        button {
            // display: inline-block;
            width: 150px;
            height: 50px;
            font-size: 20px;
            background-color: white;
            @include border(1, $dark_blue);


        }

        @media (max-width: 577.98px) {
            button {
                width: 80px;
                height: 30px;
                font-size: 16px;
            }
        }

        button._on,
        button.bookmark {
            background-color: $dark_blue;
            color: white;
            @include border(1, white)
        }

    }

    //下方顯示
    div.content {
        @include border(1, $dark_blue);
        background-color: white;
        padding: 0;
        text-align: center;
        font-size: 20px;

        div.dropdown {
            text-align: right;

            select {
                background-color: transparent;
                @include border(0);
                color: $light_green;
                text-decoration: underline;
            }
        }

        img {
            // display: none;
            width: 130px;
            height: 145px;
            @include center;
        }

        @media (max-width: 767.98px) {
            img {
                width: 80px;
                height: 100px;
                margin: 0;
            }
        }


        div.contain_bar {
            background-color: $dark_blue;
            color: white;
            display: flex;
            height: 42px;
            line-height: 42px;
        }

        @media (max-width: 577.98px) {
            div.contain_bar {
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                flex-wrap: wrap;
                margin-bottom: 25px;
            }

            div.dropdown {
                width: 100%;
                display: block;
            }
        }


        div.contain_list {
            display: flex;
            text-align: center;
            // border: 1px solid black;
            height: 150px;
            line-height: 150px;
            flex-wrap: wrap;

            hr {
                width: 95%;
                @include center;
            }

        }

        @media (max-width: 767.98px) {
            div.contain_list {
                height: 100px;
                line-height: 100px;
            }
        }

        @media (max-width: 577.98px) {

            .method,
            .price {
                width: 25%;
            }

            div.contain_list {
                font-size: 16px;
            }
        }

    }
}

//points_list
main.points_list {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/member/back.jpg);

    padding-bottom: 100px;
    width: 100%;
    background-position: left top;
    box-sizing: border-box;


    .main_contain {
        max-width: 1200px;
        @include center;
        @include grids(12);
        width: 95%;
        padding-top: 100px;
    }

    //上方選單
    div.bar {
        @include center;
        // @include border(1, $dark_blue);
        display: flex;


        div.trading,
        div.points,
        div.information {
            @include border(1, $dark_blue);
            text-align: center;
            background-color: white;
            padding-bottom: 20px;
        }


        div.trading {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            padding: 0;
            border: 0;
        }

        div.points,
        div.information {
            width: 25%;
            padding: 0;
            border: 0;
        }

        .fa-list-alt,
        .fa-search-dollar,
        .fa-pencil-alt {
            width: 100%;
            font-size: 32px;
        }


        div.title {
            width: 100%;
            background-color: $dark_blue;
            color: white;
            font-size: $fontSizeH3;
        }


        div.title {
            display: none;
        }


        button {
            background-color: transparent;
            width: 200px;
            @include center;
            color: $dark_blue;
            @include border(0);
            font-size: $fontSizeH4;
            margin-top: 20px;
            cursor: pointer;
        }

        button {
            color: $dark_blue;
            text-decoration: none;
        }


        button {
            width: 100%;
            height: 77px;
            margin: 0;
            @include border(1, $dark_blue);

            a {
                font-size: 16px;
            }
        }


        button._on {
            background-color: $dark_blue;
        }

        button._on {
            color: white;
        }
    }


    //下方顯示
    div.content {
        @include border(1, $dark_blue);
        background-color: white;
        padding: 0;
        text-align: center;
        font-size: 20px;
        margin-top: 50px;

        div.dropdown {
            text-align: right;

            select {
                background-color: transparent;
                @include border(0);
                color: $light_green;
                text-decoration: underline;
            }
        }


        div.contain_bar {
            background-color: $dark_blue;
            color: white;
            display: flex;
            height: 42px;
            line-height: 42px;
        }

        @media (max-width: 577.98px) {
            div.contain_bar {
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                flex-wrap: wrap;
                margin-bottom: 20px;
            }

            div.dropdown {
                width: 100%;
                display: block;
            }
        }

        div.contain_list {
            display: flex;
            text-align: center;
            // border: 1px solid black;
            height: 150px;
            line-height: 150px;
            flex-wrap: wrap;

            hr {
                width: 95%;
                @include center;
            }

        }

        @media (max-width: 767.98px) {
            div.contain_list {
                height: 100px;
                line-height: 100px;
            }
        }

        @media (max-width: 577.98px) {

            div.contain_list {
                font-size: 16px;
            }
        }


    }
}

//member_info
main.member_info {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/member/back.jpg);

    padding-bottom: 100px;
    width: 100%;
    background-position: left top;
    min-height: 100vh;
    box-sizing: border-box;

    .main_contain {
        max-width: 1200px;
        @include center;
        @include grids(12);
        width: 95%;
        padding-top: 100px;
    }

    //上方選單
    div.bar {
        @include center;
        // @include border(1, $dark_blue);
        display: flex;


        div.trading,
        div.points,
        div.information {
            @include border(1, $dark_blue);
            text-align: center;
            background-color: white;
            padding-bottom: 20px;
        }


        div.trading {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            padding: 0;
            border: 0;
        }

        div.points,
        div.information {
            width: 25%;
            padding: 0;
            border: 0;
        }

        .fa-list-alt,
        .fa-search-dollar,
        .fa-pencil-alt {
            width: 100%;
            font-size: 32px;
        }


        div.title {
            width: 100%;
            background-color: $dark_blue;
            color: white;
            font-size: $fontSizeH3;
        }


        div.title {
            display: none;
        }


        button {
            background-color: transparent;
            width: 200px;
            @include center;
            color: $dark_blue;
            @include border(0);
            font-size: $fontSizeH4;
            margin-top: 20px;
            cursor: pointer;
        }

        button {
            color: $dark_blue;
            text-decoration: none;
        }


        button {
            width: 100%;
            height: 77px;
            margin: 0;
            @include border(1, $dark_blue);

            a {
                font-size: 16px;
            }
        }


        button._on {
            background-color: $dark_blue;
        }

        button._on {
            color: white;
        }
    }


    //下方顯示
    div.content {
        @include border(1, $dark_blue);
        background-color: white;
        padding: 0;
        text-align: center;
        font-size: 20px;
        margin-top: 50px;


        div.contain_bar {
            background-color: $dark_blue;
            color: white;
            display: flex;
            height: 42px;
            line-height: 42px;
            padding-left: 10px;
        }

        div.contain_list {
            display: flex;
            text-align: center;
            // border: 1px solid black;
            flex-wrap: wrap;
            @include center;
            padding-top: 50px;
            padding-bottom: 100px;
            justify-content: space-evenly;



            button.member_img {
                position: relative;
                width: 250px;
                height: 250px;
                @include border(1, gray);
                border-radius: 50%;
                overflow: hidden;
                padding: 0;
                cursor: pointer;
                margin-right: 45px;

                div.img_outside {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        @include center;
                        z-index: 0;
                    }
                }

                div.img_cover {
                    width: 100%;
                    height: 50%;
                    z-index: 1;
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(201, 200, 200, 0.8);
                    border-radius: 0 0 100% 100%;

                    .fa-camera {
                        font-size: 40px;
                        position: relative;
                        top: 25%;
                    }
                }
            }

            @media (max-width: 991.98px) {
                button.member_img {
                    margin: 0 auto;
                }
            }

            // 資料
            div.edit {
                margin-top: 25px;
                text-align: left;
                width: 50%;


                div.edit_detail {
                    margin-top: 30px;
                    // border: 1px solid black;

                    button.edit_btn {
                        background-color: transparent;
                        @include border(0);
                        color: $light_green;
                        text-decoration: underline;
                        padding: 0;
                        cursor: pointer;
                    }

                    button.black_btn {
                        color: black;
                        text-decoration: none;
                    }

                    form.edit_password {
                        margin-top: 15px;

                        input {
                            margin-top: 10px;
                            margin-bottom: 20px;
                            width: 400px;
                            height: 35px;
                            max-width: 95%;
                        }

                        @media (max-width: 767.98px) {
                            input {
                                width: 300px;
                            }
                        }

                        button {
                            @include btn_blur(100%, 10px);
                            width: 400px;
                            cursor: pointer;
                            max-width: 95%;
                        }

                        button:hover {
                            @include btn_on(100%, 10px);
                            width: 400px;
                            cursor: pointer;
                            max-width: 95%;
                        }

                        @media (max-width: 767.98px) {
                            button {
                                width: 300px;
                            }

                            button:hover {
                                width: 300px;
                            }
                        }


                    }

                    form.edit_password {
                        display: none;
                    }

                    form.bookmark {
                        display: block;
                    }
                }
            }

            @media (max-width: 767.98px) {
                div.edit {
                    width: 96%;
                    margin: 0 auto;
                    margin-top: 30px;
                    text-align: center;

                }
            }
        }

        @media (max-width: 991.98px) {
            div.contain_list {
                width: 100%;
            }
        }

    }



    section.maskLayer {
        left: 0;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 2;

        div.popUpBox {
            background-color: $dark_blue;
            width: 75%;
            z-index: 3;
            height: 510px;
            top: 5%;

            div.closeBtn {
                position: absolute;
                right: 0;
            }

            div.popContent {
                margin-top: 20px;
            }

            div.title {
                width: 75%;
                @include center;

                h3 {
                    font-size: 24px;
                    color: white;
                }

                div.line {
                    margin-top: 15px;
                    margin-bottom: 35px;
                    width: 100%;
                    height: 0;
                    @include border(1, $tiffiny_green);
                    background-color: $tiffiny_green;
                }
            }

            div.contain {
                width: 75%;
                // border: 1px solid black;
                @include center;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                div.back {
                    width: 250px;
                    height: 350px;
                    @include border(1, gray);
                    background-color: gray;

                    div.circle {
                        @include border(1, $tiffiny_green);
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-top: 50px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    @media (max-width: 767.98px) {
                        div.circle {
                            margin-top: 0;
                        }
                    }
                }

                @media (max-width: 767.98px) {
                    div.back {
                        height: 250px;
                        ;
                    }
                }

                div.btn_area {
                    width: 300px;
                    margin-left: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    button {
                        @include btn_blur(300px, 10px);
                        position: relative;
                    }

                    button:hover {
                        @include btn_on(300px, 10px);
                        position: relative;
                    }

                    button.input_btn {
                        margin-bottom: 20px;
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }

                @media (max-width: 991.98px) {
                    div.btn_area {
                        margin-left: 10px;
                    }
                }

                @media (max-width: 767.98px) {
                    div.btn_area {
                        margin-top: 20px;
                    }
                }
            }

            @media (max-width: 1200px) {
                div.contain {
                    width: 100%;
                }

                div.btn_area {
                    margin-left: 50px;
                }
            }

        }

        @media (max-width: 767.98px) {
            div.popUpBox {
                height: 500px;
                top: 10px;
            }
        }
    }

    section.popShow {
        display: block;
    }

}