@import "../mixin/mixins";
@import "../base/font";


.otot{
    background-image: url("../dist/images/intro/bg.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;  
}



.out{
    h1{
        font-size: $fontSizeH1;
    }
    
    h3{
        font-size: $fontSizeH3;
    }
    
    p{
        font-size: $fontSize;
    }
    
    
    .ti{
        display:flex;
        margin:50px 0;  
        justify-content: space-evenly;
        .date{
            margin:0 auto;
        }
    
    }
    
    .con{
        // width:600px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        @include center;
        h1{
            text-align: center;
        }
        .news_in1{
            margin:20px 0;
        } 
        
        .img_in{
            margin-top:40px;
            width:100%;
        }
        li{
            text-align: left;
            color:white;
        }
        p{
            font-size: $fontSize;
            text-align: left;
            line-height: $lineHeight20;
            padding:20px 0;
            margin:0;
        }
    }
    
    .h1_final{
        text-align: center;
        border-top:1px solid #FFF;
        margin:40px 0;
        padding-top:40px;
        
    }
    
    .final{
        display:flex;
        justify-content:space-around;
        text-align: right;
        .img_gacha , .img_trade{
            width:100%;
        }
        .line{
            height:400px;
            margin-right:40px;  
            border-right:1px solid #FFF;
        }
        
        .bt{
            @include btn_on(50, 50);
            @include border_r(100);
            padding:15px;
            font-size: 15px;
            &:hover{
                background-color: #000;
                color:#fff;
                cursor: pointer;
            }
        }
    }
    
    
    
    
    
}
