*{
    box-sizing: border-box;
  }

.allBlock{
    background-image: url("../dist/images/trade/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    

//角色資訊

.sec1{

    padding-top: 100px;
    .flexContainer{
        display: flex;
        width: 800px;
        @include center;
        @include desktop_small{
            width:100%;
        }
        @include pad{
            width:100%;
            flex-direction: column;

        }
        @include pad_small{
            width:100%;
            flex-direction: column;
        }
        @include phone{
            width:100%;
            flex-direction: column;
        }
        @include phone_small{
            width:100%;
            flex-direction: column;
        }
    

        .items.-left{
            //@include border;
            flex-basis: 300px;
            flex-shrink: 0;
            font-size: 0;
            width: 100%;

            .imgBlock{
                width: 300px;
                height: 300px;

                img{
                    width: 100%;
                    height: 100%;
                }

            }

        }

        .items.-right{
            //@include border;
            flex-grow: 1;
            font-size: 20px;
            padding-left: 50px;
            color: #fff;

            .title1{
               margin-top: 15px;
               margin-bottom: 30px;
            }    

            .introduce{
                margin-bottom: 30px;
            }

            .price, .buyForm{
                display: inline-block;
                //border: 1px solid red;
                margin-bottom: 30px;
            }

            .price{
                //border: 1px solid red;
                margin-bottom: 30px;
            }

            

            .price, .collectForm{
                display: inline-block;
                //border: 1px solid blue;
                margin-bottom: 35px;
            }

            .price{
                margin-left: 50px;
            }

            .collectForm{
                margin-left: 70px;
                .collectBtn{
                    @include btn_blur (70px, 5px);
                    &:hover {@include btn_on (70px, 5px)}
                    &:hover {cursor: pointer}
                }

                .changeBtn{
                    @include btn_blur (70px, 5px);
                    &:hover {@include btn_on (70px, 5px)}
                    margin-left: 25px;
                    &:hover {cursor: pointer}
                }
            }


            .buyForm{
                .buyBtn{
                    @include btn_blur (170px, 5px);
                    &:hover {@include btn_on (170px, 5px)}
                    margin-left: 0px;
                    font-size: $fontSizeH3;
                    &:hover {cursor: pointer}
                }
            }

            

        }
    }
}

//雷達圖


.chart{
    background-color: #fff;
    //@include border;
    margin: 100px auto;
    width: 500px;
    height: 500px;
    padding: 15px;
    @include phone{
        width:100%;
    }
    @include phone_small{
        width:100%;
    }
}

//能力值

.tableBlock{
    color: #fff;
    padding-bottom: 100px;
table{
    border: 1px solid #fff;
    border-collapse: collapse;
    @include center;
    width:600px;
    height: 500px;
    @include pad_small{
        width:100%;
    }
    @include phone{
        width:100%;
    }
    @include phone_small{
        width:100%;
    }

    th,td{
        border: 2px solid #fff;
        text-align: center;
        }
    }

    th{
        font-size: $fontSizeH2;
    }

    td{
        font-size: $fontSizeH4;
    }
}

////////購買視窗

.maskBlockM{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    .popUpBox{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 500px;
        height: 250px;
        border-radius: 5px;
    
        .closeBtn{
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .popContent{
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-top: 80px;
            height: 100px;
        }

        .confirmBlk{

            display: flex;
            justify-content: space-evenly;

            .confirmBtn{
                padding: 0;
                height: 35px;
                &:hover {@include btn_on (100px, 0px)}
            }

            #confirmBtn3{
                width: 150px;
            }

            #confirmBtn4{
                width: 150px;
            }
        }
    }
}


///////////////交換pop視窗-1
.test{
.maskLayery{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    .popUpBox{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 1000px;
        height: 480px;
        border-radius: 5px;
        overflow: auto;
       
    
        .closeBtn{
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: sticky; 
            top: 0px;
            float: right;
        }

        .popContent12{
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .roleBlock1Mark{

            .roleList1Mark{
                //border: 1px solid red;
                margin: 0 0 0 50px ;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;


                li{
                    //border: 1px solid yellow;
                    width: calc((100% - 60px - 50px) / 4);
                    margin-right: 20px;
                    margin-bottom: 25px;

                }

            }
        }

        .confirmBlk12{

            text-align: center;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-evenly;
            
            .confirmBtn12{
                text-align: center;
                line-height: 30px;
                text-decoration: none;
                border: 3px solid rgba(16, 197, 177, 1);
                color: rgba(16, 197, 177, 1);
                background-color: rgba(14, 52, 97, 1);
                width: 100px;
                height: 35px;
                border-radius: 3px;
                padding: 0;
                &:hover {@include btn_on (100px, 0px)}
            }

            
        }
    }
}

}
////////////交換確認視窗-2


.test{
    .popUpBox{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 800px;
        height: 480px;
        border-radius: 5px;
    
        .myRoleBlock, .doubleArrow, .yourRoleBlock{
            display: inline-block;
            vertical-align: middle;
        }     

        .myRoleBlock{
            margin-left: 185px;

            .myRoleP{
                margin-bottom: 20px;
                text-align: center;
            } 

            .myRoleNameBlock{
                text-align: center;
                margin-top: 20px;
            }
        }

        .doubleArrow{
            width: 100px;
            height: 100px;
            font-size: 100px;
            margin: 0 30px;
        }
            

        .yourRoleBlock{
            
            .yourRoleP{
                margin-bottom: 20px;
                text-align: center;
            }
            
            .yourRoleNameBlock{
                text-align: center;
                margin-top: 20px;
            }

        }



        .closeBtn13{
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .popContent13{
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-bottom: 10px;
            
            p{
                margin-top: 30px;
            }


        }

        .confirmBlk13{

            display: flex;
            justify-content: space-evenly;

            .confirmBtn13{
                text-align: center;
                line-height: 30px;
                text-decoration: none;
                border: 3px solid rgba(16, 197, 177, 1);
                color: rgba(16, 197, 177, 1);
                background-color: rgba(14, 52, 97, 1);
                width: 100px;
                height: 35px;
                border-radius: 3px;
                padding: 0;
                &:hover {@include btn_on (100px, 0px)}
                padding: 0;
                height: 35px;
                &:hover {@include btn_on (100px, 0px)}
            }

            
        }
    }
}

}
///////////////交換pop視窗-3


.allBlock{    
    .popUpBox{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(2, 79, 63, 1);
        border: 2px solid rgba(16, 197, 177, 1);
        width: 300px;
        height: 250px;
        border-radius: 5px;
    
        .closeBtn14{
            background-color: rgba(16, 197, 177, 1);
            border-radius: 2px;
            font-size: 28px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
        }

        .popContent14{
            text-align: center;
            color: rgba(96, 205, 144, 1);
            margin-top: 150px;
            height: 100px;
            font-size: 32px;
        }

        
           
        }

}




/////////////////////pop視窗
.allBlock{
    .maskLayer{
        display: none;
    }
    .popShow{
        display: block;
    }
    .popUpBox{
    display: none; 
    }
    .box{
        display: block;
        background-color:burlywood;
    }
    .one{
        background-color: aquamarine;
    }
    .abc{
        display:block
    }


}






