*{
    box-sizing: border-box;
  }


.allBlock1{
    background-image: url("../dist/images/trade/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
    margin: 0;
    padding: 0;
   
   


////////////////////////////////////////////////角色排行

.roleRanksection{

    h1{
        color:#fff;
        text-align: center;
        //@include border;
        padding: 30px 0;
    }
    
    .rankBloCk{
        //border: 1px solid orange;
        width: 900px;
        @include center;
        @include desktop_small{
        width:750px;
        }



        .roleBloCk1{
            //@include border;
            .imgBlock{
                @include desktop_small{
                width: 70%;
                height: 70%;
                @include center
                }
            }
            .name{
                color:#fff;
                text-align: center;

                p{
                    margin: 20px 0;
                }
            }

            .price{
                color:#fff;
                text-align: center;
            }
        }
        .roleBloCk2{
            //@include border;
            @include center;

            .imgBlock{
                @include desktop_small{
                width: 70%;
                height: 70%;
                @include center
                }
            }
            .name{
                color:#fff;
                text-align: center;
                
                p{
                    margin: 20px 0;
                }
            }

            .price{
                color:#fff;
                text-align: center;
            }
        }
        .roleBloCk3{
            //@include border;
            .imgBlock{
                @include desktop_small{
                width: 70%;
                height: 70%;
                @include center
                }
            }
            .name{
                color:#fff;
                text-align: center;

                p{
                    margin: 20px 0;
                }
            }

            .price{
                color:#fff;
                text-align: center;
            }
        }
        display: flex;
    }
}



/////////////////////////////////////////////// 按鈕
.btnBlockmy{
    //@include border;
    text-align: center;
    margin: 100px 0px;
    
    .btn111{
        @include btn_blur (150px, 10px);
        margin-right: 100px;
    }
    
    .btn222{
        @include btn_blur (150px, 10px){
        };
    }

    .btn111:hover{
        @include btn_on (150px, 10px);
        cursor: pointer;
    }    

    .btn222:hover{
        @include btn_on (150px, 10px);
        cursor: pointer;    
    }    
}

//////////////////////////////////////////////側邊欄

.yasidey, .ymainy{
    display: inline-block;
    vertical-align: top;
}


.yasidey{
    //border: 1px solid red;
    width: 250px;
    background-color: #9BCFB7;
    margin-right: 60px;
    position: relative;

    h2{
        text-align: center;
    }

    #ysearchy{
        display: block;
        @include center;
        //border: 1px solid red;
        padding: 5px;
        position: relative;
    }    

    .ysearchBtny{
        background-color:transparent;
        position: absolute;
        top: 39px;
        right: 11px;
        border: none;
        cursor: pointer;
    }
    
    


    .ycheckboxy{
        //border: 1px solid blue;
       
        label{
            //border: 1px solid black;
            display: block;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        
    }
}

///////////////////////////////////////////////商品列表

.ymainy{
    //border: 1px solid red;
    width: calc(100% - 250px - 70px);
    margin-bottom: 50px;

   

    .yproductListy{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        
        li{
            //@include border;
            margin-right: 50px;
            margin-bottom: 50px;
            width: 229px;
            background-color: #fff;
            @include border-r (33);
            overflow: hidden;
            transition: all 0.8s;
            &:hover {transform: scale(1.1, 1.1)}
            
            


            a{
                text-decoration: none;
               
                .yproductImgy{
                    font-size: 0;
                    width: 230px;
                    //border: 1px solid black;
                    
                    img{
                        width: 100%;
                        //@include: 1px solid blue;
                    }
                }

                h2{
                    text-align: center;
                    color: black;
                    margin: 8px 0;
                }

                .yproductPricey{
                    margin-bottom: 8px;
                }

                .ypricey, .ychangey{
                   //border: 1px solid orange;
                    display: block;
                    text-align: center;
                    color: black;
                }

                .ysellerBlocky{
                    //@include border;
                    text-align: center;
                    margin: 8px 0;

                    .ysellerImgy, .ysellerInfoy{
                        display: inline-block;
                        text-align: center;
                        margin: 0 auto;
                        vertical-align: middle;
                    }


                    .ysellerImgy{
                        border: 2px solid $tiffiny_green;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: $dark_blue;

                        img{
                            //border: 1px solid black;
                            width: 73%;
                            height: 73%;
                            display: block;
                            margin: 4px auto; 
                        }

                    }

                    .ysellerInfoy{
                        //border: 1px solid orange;
                        color: black;
                    }

                }

            }
        }
    }
}


//page

.ypagey {
    li{
        a{
            text-decoration: none;
        }
    }
}

}


