
.footer{
    background: url(../src/image/index/strbg.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    margin-top: 7%;
    z-index: 10;
   
    .iconLink{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        
        a{
            margin: 5px 20px;
            padding: 6px 8px;
            width: 45px;
            height: 45px;
            color: yellowgreen;
            background-color: white;
            border-radius: 24%;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, .15),
                        -6px -6px 12px rgba(255, 255, 255, .1);
            overflow: hidden;
            font-size: $fontSize;
            transition: .3s linear;
            position: relative;
            &:hover{
                transform:scale(1.2);
                border-radius: 50%;
            }
            i{
                &::before{
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                background-size: 200% 200%;
                background-position: 75% 75%;
                top: 0;
                left: 5%;
                line-height: 80px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: background .5s linear;
                }
            }
        }
        a{
            &:hover
            i{
                &::before{
                    background-position: 0% 0%;
                }
            }
        }
        .fa-facebook-square{
            &::before{
                background: linear-gradient(135deg,rgb(38, 77, 250) 30%, #0a3d62 50%);
            }
        }
    }
    .notice{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        p{
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            color: #cacaca;
            &:hover{
                color: #477dbe;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        p{
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            color: #cacaca;
            &:hover{
                color: #477dbe;
            }
        }
    }
}