.footer{
    background: url(../src/image/index/strbg.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    margin-top: 7%;
    z-index: 10;
    .iconLink{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        span{
            margin: 5px 10px;
            .fa-2x{
                color: #cacaca;
                &:hover{
                    color: #477dbe;
                    transform:scale(1.25,1.25);
                    transition:transform 0.25s ease;
                }
            }
        }
    }
    .notice{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        p{
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            color: #cacaca;
            &:hover{
                color: #477dbe;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        p{
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            color: #cacaca;
            &:hover{
                color: #477dbe;
            }
        }
    }
}