#header{
    // @include border();
    // @include grids(12);
    width: 100vw;
    height: 90px;
    z-index: 1000;
    position: fixed;
    top: 0;

    box-shadow: 0px 5px 5px 0px #3bb6d2;
    background: linear-gradient( 181deg, rgb(12, 26, 50) 0%, rgb(29, 102, 114) 35%, rgb(35, 143, 211) 70%,rgb(24, 239, 232) 100%);
    @include pad{
        height: 70px;
    }
    @include pad_small{
        height: 70px;
    }
    @include phone{
        height: 70px;
    }
    .container{
        // @include border();
        display: flex;
        max-width: 1200px;
        height: 90px;
        margin: 0 auto;
        @include desktop_small{
            justify-content: space-between;
        }
        @include pad{
            justify-content: space-between;
        }
        @include pad_small{
            justify-content: space-between;
        }
        @include phone{
            justify-content: space-between;
        }
    }
    .logo{
        // @include border();
        margin: 0 16px;
        display: flex;
        align-items: center;
        @include desktop_small{
            margin: 0 0 0 30px;
        }
        @include pad{
            margin: 0 0 10px 30px;
        }
        @include pad_small{
            margin: 0 0 10px 30px;
        }
        @include phone{
            margin: 0 0 10px 0px;
        }
    }
    .logo img{
        width: 150px;
        transform: rotate(7deg);
        @include pad_small{
            width: 120px;
        }
        @include phone{
            width: 120px;
        }
    }
    
    //keyframes
    @keyframes move{
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(0, -20px);
        }
        50% {
            transform: translate(0, 0);
        }
        75% {
            transform: translate(0, -20px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    .navbar{
        // @include border();
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0 auto;
        @include desktop_small{
            display: none;
        }
        @include pad{
            display: none;
        }
        @include pad_small{
            display: none;
        }
        @include phone{
            display: none;
        }
        ul{
            list-style: none;   
            margin-left: 40px; 
            padding-top: 2%;
            a{
                text-decoration: none;
                li{
                    display: inline-flex;
                    margin-right: 50px;
                    color: #fff;
                    &:hover{
                        color: #9dfdc8;
                        text-shadow:2px 1px rgb(16, 109, 54);
                    }
                    &:hover img{
                        animation: move 1s infinite;
                    }
                    img{
                        width: 25px;
                        margin-right: 10px;
                        animation-play-state: paused;
                    }
                }
                .Change{
                    color: #9dfdc8;
                }
            }
        }
    }
    
    // phone nav
    .hamburger{
        display: none;
        order: -1;
        @include desktop_small{
            display: flex;
            margin: 32px;
        }
        @include pad{
            display: flex;
            margin: 32px;
        }
        @include pad_small{
            display: flex;
            margin: 32px;
        }
        @media(max-width: 480px){
            display: flex;
            margin: 30px 20px;
        }
    }
    #menuToggle{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 1;
        user-select: none;
        a{
            text-decoration: none;
            color: #232323;
            transition: color 0.3s ease;
            &:hover{
                color: #9dfdc8;
            }
        }
        input{
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */
            &:checked ~ span{
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: $dark_blue;
                &:nth-last-child(3){
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:nth-last-child(2){
                    transform: rotate(-45deg) translate(0, -1px);
                }
            }
            &:checked ~ ul{
                transform: none;
            }
        }
        span{
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;  
            background: #a2d6d2;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
            &:first-child{
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2){
                transform-origin: 0% 100%;
            }
        }
    }
    #headerMenu{
        position: absolute;
        width: 300px;
        height: 100vh;
        // border: solid;
        margin: -32px 0 0 -32px;
        background: rgb(199, 227, 240);
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        @media(max-width: 480px){
            margin: -30px 0 0 -32px;
        }
        a > img{
            width: 100px;
            margin-left: 50%;
            transform: translate(-50%);
        }
        li{
            background-color: lightblue;
            padding: 15px 0;
            font-size: 18px;
            text-align: center;
            border-top: 1px solid #0E3461;
            &:hover{
                background: #0E3461;
            }
            &:hover img{
                animation: move 1s infinite;
            }
            img{
                width: 30px;
                margin-right: 10px;
                vertical-align: bottom;
                animation-play-state: paused;
            }
        }
        .ChangePhone{
            background: #0E3461;
            color: #9dfdc8;
        }
        .hamLog{
            display: none;
            @media(max-width: 480px){
                display: block;
                position: absolute;
                padding: 15px 0;
                font-size: 18px;
                text-align: center;
                border-top: 1px solid #0E3461;
                bottom: 0;
                width: 100%;
                background-color: azure;
                &:hover{
                    background: #0E3461;
                }
            }
        }
        #LogOutPhone{
            display: none;
            @media(max-width: 480px){
                display: block;
            }
            a{
                margin: 0px;
                color: #a2d6d2;
                font-size: 14px;
                &:hover{
                    color: #9dfdc8;
                }
            }
        }
        .LogInPhone{
            display: none;
            @media(max-width: 480px){
                display: block;
            }
            a{
                margin: 0px;
                color: #a2d6d2;
                font-size: 14px;
                &:hover{
                    color: #9dfdc8;
                }
            }
        }
        .logbt{
            display: none;
        }
    }
    // phone nav end
    
    .icon{
        display: flex;
        align-items: center;
        margin: auto;
        margin: 8px 28px 0;
        @include pad{
            margin: 0 28px;
        }
        @include pad_small{
            margin: 0 10px;
        }
        @include phone{
            margin: 0 0;
        }
        .bt{
            margin-right: -10px;
            position: relative;
            @media(max-width: 480px){
                margin-right: 0px;
            }
            p{
                position: relative;
                bottom: 2px;
            }
        }
        .button{
            // width:100px;
            text-align: center;
            color:#fff;
            font-size: 13px;
            @include pad_small{
                font-size: 12px;
            }
            @include phone{
                font-size: 12px;
            }
            &:hover .show{
                display:block;
            }
            a{
                margin: 8px;
                color: #a2d6d2;
                border: 1px solid #19ADD2;
                border-radius: 50%;
                position: relative;
                &:hover{
                    color: #9dfdc8;
                    border: 1px solid #0E3461;
                    border-radius: 50%;
                }
                @media(max-width: 480px){
                    margin: 5px;
                }
            }
            .show{
                @include border(1,#a2d6d2);
                background: #0E3461;
                @include border_r(5);
                padding: 2px 4px;
                display: none;
                position: absolute;
                margin-top: 5px;
                margin-left: 6px;
                @media(max-width: 480px){
                    padding: 2px 2px;
                    margin-left: 4px;
                }
            }
            h5{
                width: 20px;
                height: 20px;
                font-size: 16px;
                color: yellow;
                right: -6px;
                top: -22px;
                position: absolute;
            }
            h5._off {
                display: none;
            }

            #headerResult{
                height: 20px;
                display: inline-block;
                margin-right: 10px;
                @media(max-width: 480px){
                    display: none;
                }
            }
        }
        #LogOut{
            @media(max-width: 480px){
                display: none;
            }
            a{
                margin: 0px;
                color: #a2d6d2;
                font-size: 14px;
                &:hover{
                    color: #9dfdc8;
                }
            }
        }
        .disappear{
            display: none;
        }
        #LogIn{
            @media(max-width: 480px){
                display: none;
            }
            a{
                margin: 0px;
                color: #a2d6d2;
                font-size: 14px;
                &:hover{
                    color: #9dfdc8;
                }
            }
        }
        .logbt{
            display: none;
        }
    }
}