//字體大小
$fontsize_h1 : 32px;

$fontsize_h2 : 28px;

$fontsize_h3 : 24px;

$fontsize_h4 : 20px;

$fontsize : 16px;

$fontsize_small : 14px;

$fontsize_min : 12px;

//行高

$line_height20 : 20px;

$line_height10 : 10px;

//間距

$line_spacing2 : 2px;

$line_spacing1 : 1px;