//字體大小
$fontSizeH1 : 32px;

$fontSizeH2 : 28px;

$fontSizeH3 : 24px;

$fontSizeH4 : 20px;

$fontSize : 16px;

$fontSizeSmall : 14px;

$fontSizeMin : 12px;

//行高
$lineHeight20 : 20px;

$lineHeight10 : 10px;

//間距

$lineSpacing2 : 2px;

$lineSpacing1 : 1px;