<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit_pay</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../vendor/js/vue.js"></script>
</head>

<body>

    <header id="header">
        <div class="container">
            <a class="logo" href="index.html">
                <img src="../dist/images/index/logo.png" alt="logoImg">
            </a>
            <nav class="navbar">
                <ul>
                    <a href="./Intro.html">
                        <li>
                            <img src="../dist/images/index/pic.png">
                            消息/介紹
                        </li>
                    </a>
                    <a href="./trade.html">
                        <li>
                            <img src="../dist/images/index/role01.png">
                            角色交易
                        </li>
                    </a>
                    <a href="./Gacha.html">
                        <li>
                            <img src="../dist/images/index/pokemon.png">
                            角色抽取
                        </li>
                    </a>
                </ul>
            </nav>

            <!-- phone nav-->
            <nav class="hamburger">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <a href="./index.html"><img src="../dist/images/index/logo.png"></a>
                        <a href="./Intro.html">
                            <li><img src="../dist/images/index/pic.png">消息/介紹</li>
                        </a>
                        <a href="./trade.html">
                            <li><img src="../dist/images/index/role01.png">角色交易</li>
                        </a>
                        <a href="./Gacha.html">
                            <li><img src="../dist/images/index/pokemon.png">角色抽取</li>
                        </a>
                    </ul>
                </div>
            </nav>
            <!-- phone nav end -->

            <div class="icon">
                <div class="button">
                    <a href="./deposit.html"><i class="fas fa-coins fa-2x"></i></a>
                    <div class="show">儲值</div>
                </div>
                <div class="button">
                    <a href="./collection.html"><i class="fab fa-gratipay fa-2x"></i></a>
                    <div class="show">收藏</div>
                </div>
                <div class="button">
                    <a href="./member.html"><i class="fas fa-user-circle fa-2x"></i></a>
                    <div class="show">會員</div>
                </div>
            </div>
        </div>
    </header>
    <main class="deposit">
        <div class="container">
            <div class="deposit_pay
            col_12 ">
                <div class="title col-12">
                    <div class="credit_img">
                        <img src="../dist/images/deposit/credit.jpg" alt="">
                    </div>
                    <h3>請輸入信用卡資訊</h3>
                </div>
                <div id="app1">
                    <form action="" class="credit col-10">
                        <div>
                            <span class="credit_detail">儲值點數:</span>
                            <span class="points">50點券</span>
                        </div>

                        <div>
                            <span class="credit_detail">金額:</span>
                            <span class="price">50元</span>
                        </div>

                        <div>
                            <span class="credit_detail">信用卡號:</span>
                            <input type="text"> -
                            <input type="text"> -
                            <input type="text"> -
                            <input type="text">
                        </div>


                        <div>
                            <span class="credit_date">信用卡有效截止日期</span>
                            <select name="月">
                                <option v-for="month in 12">{{month}}</option>
                            </select>
                            月
                            <select name="年">
                                <option v-for="year in years">{{year}}</option>
                            </select>
                            年
                        </div>


                        <div>
                            <span>信用卡背後末三碼:</span>
                            <input type="text">
                        </div>

                        <button class="">確認送出</button>
                    </form>
                </div>

            </div>
        </div>
    </main>
    @@include('./footer.html')

    <script src="../js/member/deposit_pay.js"> </script>
</body>

</html>